#conversations-wrapper {
    width: 30%;
    overflow-y: scroll;
    padding-right: 0;
}

#conversations-wrapper .inner-wrap {
    padding: 0;
    height: 100%;
    border-right: 1px solid #eaeaea;
    background-color: #fff;
}

#conversations-wrapper #conversations-header {
    padding-left: 20px;
    height: 50px;
    color: #283138;
    font-size: 15px;
    background-color: #fff;
}

#conversations .conversation {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 15px 20px 0;
    cursor: pointer;
    background-color: #f4f5f7;
    color: #283138;
    height: 100px;
}

#conversations .conversation:last-child {
    border-bottom: 0;
}

#conversations .conversation.active {
    background-color: #57a5da;
    color: #fff;
}

#conversations .conversation.unread {
    background-color: #e4e4e5;
    font-family: 'ProximaNova-SemiBold';
}

#conversations .conversation .image {
    float: left;
    width: 25%;
}

#conversations .conversation .image img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#conversations .conversation .info-wrapper {
    float: left;
    width: 75%;
}

#conversations .conversation .info-wrapper .recipient-name {
    width: 75%;
    float: left;
    font-size: 16px;
    line-height: 1;
}

#conversations .conversation .info-wrapper .last-activity {
    width: 25%;
    float: left;
    font-size: 12px;
    text-align: right;
}

#conversations .conversation .info-wrapper .subject {
    font-size: 14px;
}

#conversations .conversation .info-wrapper .most-recent-message {
    font-size: 12px;
    height: 32px;
    overflow: hidden;
}

#active-thread-subject {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

#conversation-view {
    padding-left: 0;
    width: 70%;
}

#conversation-view .inner-wrap {
    height: 100%;
    background-color: #fff;
}

#conversation-view-messages {
    border-radius: 0 4px 0 0;
    padding: 20px;
    height: 72%;
    overflow-y: scroll;
}

#conversation-view-messages .loading {
    width: 16px;
    height: 16px;
    background: url(/images/ajax-loader-small.gif) no-repeat;
    float: right;
    position: relative;
    top: 13px;
    left: -5px;
}

#conversation-view-messages .message {
    display: inline-block;
    width: 100%;
}

#conversation-view-messages .message .author {
    width: 80px;

    /*
     * This ensures that the container will always take up space, even if it is empty. We also set a small height and make
     * the overflow visible so that the author container will not expand its container and thereby push other messages down
     */
    height: 10px;
    overflow: visible;
}

#conversation-view-messages .message .author,
#conversation-view-messages .message .author .name {
    float: left;
}

#conversation-view-messages .message .author .name {
    width: 65px;
    margin-top: 2px;
    font-size: 13px;
    text-align: center;
}

#conversation-view-messages .group.self .message .author,
#conversation-view-messages .group.self .message .author .name {
    float: right;
}

#conversation-view-messages .message .author img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

#conversation-view-messages .group.self .message .author img {
    float: right;
}

#conversation-view-messages .message .message-date {
    float: right;
    width: calc(100% - 80px);
    font-size: 11px;
    margin-top: 2px;
}

#conversation-view-messages .group.self .message .message-date {
    text-align: right;
    float: left;
}

#conversation-view-messages .message .message-text {
    background-color: #cde9f7;
    border-radius: 4px;
    padding: 10px 15px;
    float: left;
    max-width: calc(100% - 80px);
}

#conversation-view-messages .group.self .message .message-text {
    background-color: #57a5da;
    color: #fff;
    float: right;
}

#conversation-new-message {
    padding: 20px;
    border-top: 1px solid #eaeaea;
}

#conversation-new-message #send-message-spinner {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
}

#conversation-new-message #new-message-text {
    width: 100%;
    border: 1px solid #CCC;
    resize: none;
    float: left;
    padding: 6px 10px;
}

#conversation-new-message #send-new-message {
    background-color: #18B522;
    margin-left: 10px;
}

#new-message-options {
    float: right;
    margin-top: 10px;
}

#new-message-options label {
    margin: 0;
}

#new-message-options input[type="checkbox"] {
    margin-left: 5px;
}