/***** CREATE ACCOUNT DIALOG *****/
#user-inbox-login-dialog .modal-dialog {
    width: 850px;
}

#user-inbox-login-dialog .form-control,
#user-inbox-login-dialog #new-account-button {
    width: 400px;
}

#user-inbox-login-dialog .form-control {
    margin: 0 auto 10px auto;
}

#user-inbox-login-dialog #new-account-button {
    height: 40px;
    border: none;
    margin-top: 10px;
}

#user-inbox-login-dialog p {
    margin-bottom: 20px;
    font-size: 16px;
}

#user-inbox-login-dialog .modal-body {
    text-align: center;
    padding: 10px 25px 50px 25px;
    border-radius: 0 0 4px 4px;
}

#user-inbox-login-dialog h1 {
    font-size: 32px;
    margin: 10px 0 5px 0;
}