h2 {
    margin-bottom: 20px;
}

#permanent-link {
    margin: 10px 0 10px 0;
}

.relative-url {
    display: none;
    background-color: #FDFAD6;
    padding: 3px;
    margin-left: 2px;
}

fieldset {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 70px 30px 30px 30px;
    margin-bottom: 10px;
}

legend {
    position: absolute;
    top: 30px;
    border: none;
    margin: 0;
    line-height: 1;
    font-size: 18px;
}

#new-page-parent,
#new-page-title {
    margin-bottom: 15px;
}

#new-page-content {
    margin-bottom: 5px;
}

#new-page-actions {
    float: right;
}

#cancel-new-page {
    margin-right: 5px;
}

.info-box {
    width: 100%;
    padding: 25px;
}

.info-box h3,
.info-box a {
    color: #296A9A;
}

.info-box h3 {
    margin-bottom: 10px;
}