#main-profile-content .company-name,
#main-profile-content h2,
#main-profile-content h3,
#main-profile-content h4 {
    font-family: 'ProximaNova-Bold';
}

#main-profile-content h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

#main-profile-content h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

#main-profile-content h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

#main-profile-content p {
    font-size: 16px;
}

#main-profile-content .company-name,
#main-profile-content .address,
#main-profile-content .city {
    display: block;
}

#main-profile-content .company-name {
    font-size: 16px;
}

#address-map {
    width: 100%;
    height: 300px;
}

a.industry {
    font-size: 16px;
    display: block;
}