/* Top section */
#cover-photo {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 0;
}

#cover-photo.multiple {
    background-repeat: repeat-x, no-repeat;
    background-size: 100% 100%;
}

#cover-photo #empty-space {
    height: 65%; /* This is done instead of absolute positioning, because the latter conflicts with .container positioning */
}

#profile-top-info {
    color: #fff;
    padding-bottom: 20px;
    height: 112px;
    margin-top: 28px;
}

#profile-top-company-info-wrapper {
    padding: 0;
}

#profile-top-company-info {
    display: inline-block;
    padding-top: 8px;
    overflow-x: hidden;
    width: 550px;
    height: 100px;
}

#profile-top-company-info h1 {
    font-size: 26px;
    color: #fff;
}

#profile-top-company-info .maps-drop {
    display: block;
    float: left;
    margin-right: 10px;
}

#company-address {
    font-size: 15px;
    color: #fff;
}

#company-address span {
    color: inherit;
}

#profile-top-review-info .number-of-reviews {
    color: #fff;
    margin-left: 10px;
}

#company-logo {
    float: left;
    position: relative;
    bottom: 55px; /*new*/
    height: 200px; /*90px to 200*/
    width: 200px; /*145px to 200*/
    border: 2px solid #fff;
}

#company-logo img {
    width: 100%;
    height: 100%;
}

#cover-photo .score {
    padding: 3px 3px 1px 3px;
    margin-left: 10px;
    line-height: 1;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 13px;
    border: 2px solid #8d8d8f;
    border-radius: 4px;
}

#profile-top-review-info {

    margin-top: 10px;
    bottom: 0;
}

#profile-top-review-info span {
    color: inherit;
}

#profile-top-review-info .stars {
    display: inline-block;
    float: left;
}

#cover-photo .review-button {
    padding: 6px 8px 5px 8px;
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    background: -moz-linear-gradient(#f07901, #d66401);
    background: -webkit-linear-gradient(#f07901, #d66401);
    background: linear-gradient(#f07901, #d66401);
}

#cover-photo .review-button:hover {
    background: -moz-linear-gradient(#ff8100, #f06f00);
    background: -webkit-linear-gradient(#ff8100, #f06f00);
    background: linear-gradient(#ff8100, #f06f00);
}

#profile-top-actions-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#profile-top-actions {
    padding: 0;
    position: relative;
    height: 100%;
}

#profile-top-actions .button {
    float: right;
    background-color: #fff;
    height: 40px;
    width: 150px;
    border-radius: 3px;
    line-height: 40px;
    font-size: 13px;
    padding: 2px 0 5px 0;

    background: -moz-linear-gradient(#ffffff, #c6ccd1);
    background: -webkit-linear-gradient(#ffffff, #c6ccd1);
    background: linear-gradient(#ffffff, #c6ccd1);
}

#profile-top-actions .button:first-child {
    margin-left: 5px;
}

#profile-top-actions .button .left,
#profile-top-actions .button .right {
    float: left;
    height: 100%;
    display: block;
}

#profile-top-actions .button .left {
    width: 33.3%;
    text-align: center;
}

#profile-top-actions .button .right {
    width: 66.6%;
}

#profile-top-actions .facebook {
    padding: 0;
}

#profile-top-actions .facebook .left {
    width: 37px;
}

#profile-top-actions .facebook .right {
    width: 108px;
    padding-top: 2px;
}

#profile-top-actions .facebook .icon.facebook {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

#profile-top-actions .likes .left {
    width: 38px;
}

#profile-top-actions .likes .right {
    width: 112px;
    border-left: 1px solid #d8dadc;
    padding-left: 8px;
}

/* Upload cover photo */
#cover-photo:hover #upload-cover-photo {
    display: block;
}

#upload-cover-photo {
    display: none;
    border-radius: 5px;
    border: 1px solid #bdbdc3;
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    float: left;
    clear: left;
}

#upload-cover-photo.visible {
    display: block;
}

#upload-cover-photo input[type="file"] {
    position: fixed;
    top: -1000px; /* Don't show default file input */
}

#upload-cover-photo:hover {
    cursor: pointer;
}

#upload-cover-photo .icon-wrapper {
    width: 30px;
    float: left;
}

#upload-cover-photo .input-wrapper {
    float: left;
}

#upload-cover-photo .input-wrapper span {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    position: relative;
    top: 2px;
}

#cover-photo-upload-progress {
    position: absolute;
    bottom: 0;
}

#cover-photo:hover #upload-cover-photo-text {
    display: block;
}

/* Upload size photo */
#cover-photo:hover #upload-size-photo {
    display: block;
}

#upload-size-photo {
    display: none;
    opacity: 0.9;
    padding: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(20px) translateX(-50%);
    -webkit-transform: translateY(20px) translateX(-50%);
    -ms-transform: translateY(20px) translateX(-50%);
    -moz-transform: translateY(20px) translateX(-50%);
    float: left;
    clear: left;
}

#upload-size-photo.visible {
    display: block;
}

#upload-size-photo:hover {
    cursor: pointer;
}

#upload-size-photo .input-wrapper span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 2px;
}

/* Upload logo photo */
#company-logo:hover #upload-logo-photo {
    display: block;
}

#upload-logo-photo {
    display: none;
    border-radius: 5px;
    border: 1px solid #bdbdc3;
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    float: left;
    clear: left;
}

#upload-logo-photo.visible {
    display: block;
}

/* Don't show default file input */
#upload-logo-photo input[type="file"] {
    position: fixed;
    top: -1000px;
}

#upload-logo-photo:hover {
    cursor: pointer;
}

.company-logo:hover #upload-logo-photo {
    display: block;
}

/* Navigation */
#profile-navigation {
    height: 60px;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #dbdbdc;
}

#profile-navigation ul {
    list-style: none;

}

#profile-navigation ul li.menu-item {
    float: left;
    margin-right: 25px;
}

#profile-navigation .dropdown-menu {
    margin-top: 15px;
    text-align: center;

    -ms-transform: translate(-25%, 0);
    -moz-transform: translate(-25%, 0);
    -webkit-transform: translate(-25%, 0);
    transform: translate(-25%, 0);
}

#profile-navigation .dropdown-menu li a {
    font-family: 'ProximaNova-Regular';
}

#profile-navigation .dropdown-menu li.active a {
    color: inherit;
    background-color: transparent;
    font-family: 'ProximaNova-SemiBold';
}

#profile-navigation ul li.menu-item.dropdown.open > a {
    color: #4C9AD0;
}

#profile-navigation ul li.active {
    font-family: 'ProximaNova-SemiBold';
}

#profile-navigation ul li.add-page {
    text-transform: none;
    line-height: 18px;
    position: relative;
    /*left:25px;!*new*!*/
    top: 2px;
}

#profile-navigation ul li.add-page .plus {
    font-size: 18px;
}

/* Right side */
.right-box {
    width: 85%;
    float: right;
    background-color: #fff;
    border: 1px solid #dbdbdc;
    border-radius: 2px;
    padding: 25px;
}

#main-cta #send-email-button,
#main-cta #send-message-button,
#main-cta #give-me-quote-button,
#main-cta #online-booking-button {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    color: #fff;
    padding: 0;
}

#give-me-quote-button {
    background: #f99c04;
}

#main-cta hr {
    margin: 10px 0 10px 0;
}

#main-cta p {
    margin: 0;
    text-align: center;
}

#main-cta p.phone-number {
    font-size: 16px;
    color: #2c3e4f;
}

#profile-options .claim-company .icon,
#profile-options .suggest-changes .icon,
#profile-options .add-to-favorites .icon {
    float: left;
    margin-right: 10px;
}

#profile-options .claim-company .icon,
#profile-options .add-to-favorites .icon {
    position: relative;
    top: -2px;
}

#profile-options .claim-company a,
#profile-options .suggest-changes a,
#profile-options .add-to-favorites a {
    float: left;
    font-size: 18px;
    line-height: 18px;
}

#profile-options hr {
    margin: 10px auto 10px auto;
}

/* Map */
#address-map {
    width: 100%;
    height: 500px;
}

/* Main content */
#main-profile-content {
    padding-right: 0;
    min-height: 400px;
}

/* Main content */
#main-profile-content p {
    color: #666666;
    font-size: 15px !important;
}

/* Icons */
.icon.settings {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/settings.png);
    width: 13px;
    height: 13px;
}

.icon.edit {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/edit.png);
    width: 14px;
    height: 14px;
}

/* Claim company */
#claim-company-wizard .has-error {
    color: #D64D50;
}

#claim-company-wizard .modal-body {
    height: 440px;
}

#claim-company-wizard .modal-dialog {
    width: 780px;
}

#claim-company-wizard .company-to-claim {
    font-size: 22px;
    margin-top: 5px;
}

#claim-company-wizard .modal-subtitle {
    font-size: 28px;
    margin-bottom: 0;
}

#claim-company-wizard div[data-step="1"] .checkbox {
    margin-top: 20px;
}

#claim-company-wizard #claim-company-subdomain .suffix {
    color: #505050;
    font-size: 20px;
    float: left;
    margin-top: 5px;
}

#claim-company-wizard #claim-company-subdomain .left {
    padding-right: 5px;
}

#claim-company-wizard #claim-company-subdomain .left input {
    text-align: right;
}

#claim-company-wizard #claim-company-subdomain .right {
    padding-left: 5px;
}

#claim-company-wizard #claim-company-subdomain .tokenfield {
    min-height: 120px;
}

#claim-company-wizard #company-description {
    resize: none;
}

#claim-company-wizard .claim-company-tab-keywords .count {
    color: inherit;
}

#claim-company-wizard .helper.counter {
    text-align: right;
    margin-top: 5px;
}

#claim-company-wizard .helper.counter.not-valid {
    color: #D64D50;
}

#claim-company-wizard .helper.counter.valid {
    display: none;
}

#claim-company-wizard .claim-company-tab-industries .token.cvr {
    padding-right: 5px;
}

#claim-company-wizard .claim-company-tab-industries .token.cvr .close {
    display: none;
}

#claim-company {
    margin-bottom: 10px;
}

/* CTA */
#cta-splash-zone {
    padding: 0;
}

#cta-splash-zone,
#cta-splash-zone img {
    border-radius: 4px;
}

.custom {
    position: absolute;
    margin-left: 210px;
}