#main-profile-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Pie chart */
.pie-chart .company-score {
    text-align: center;
}

.pie-chart .company-score .score-number {
    font-size: 38px;
}

.pie-chart .company-score .score-word {
    color: #898989;
    display: block;
    position: relative;
    top: -8px;
}

.pie-chart {
    height: 125px;
    position: relative;
    width: 125px;
    float: left;
}

.pie-chart .pie {
    clip: rect(0, 125px, 125px, 125px);
    height: 125px;
    position: absolute;
    width: 125px;
}

.pie-chart .pie .half-circle {
    border: 5px solid;
    border-radius: 50%;
    height: 125px;
    position: absolute;
    width: 125px;
}

.pie-chart .company-score {
    position: absolute;
    top: 30%;
    width: 100%;
    font-weight: normal;
}

.pie-chart .shadow {
    border: 5px solid #EAEAEA;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.pie-chart .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-chart .pie .half-circle.left-side {
    clip: rect(0, 62px, 125px, 0);
}

.pie-chart .pie .right-side {
    clip: rect(125px, 62px, 125px, 0);

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pie-chart .pie .half-circle {
    border-color: #de5a1d;
}

/* Progress bar */
.progress-bar-wrapper {
    height: 20px;
}

.progress-bar-wrapper * {
    margin: auto 0;
}

.progress-bar-wrapper .progress-bar {
    width: 150px;
    height: 11px;
    padding: 2px;
    border: 1px solid #dbdbdc;
    float: left;
    background-color: transparent;
}

.progress-bar-wrapper .progress-bar .progress {
    background-color: #de5a1d;
    height: 100%;
    width: 0;
}

.progress-bar-wrapper .review-type-count {
    float: left;
    width: 20px;
    margin: 0 10px 0 10px;
}

.progress-bar-wrapper .review-type-description {
    float: left;
}

/* Review summary */
.review-summary.left,
.review-summary.right {
    height: 125px;
}

#reviews-rating-breakdown {
    margin-left: 30px;
    height: 100%;
    float: left;
}

#reviews-rating-breakdown .wrapper {
    margin: auto;
}

.review-summary.right .outer-wrapper {
    margin-left: 20px;
    height: 100%;
    text-align: right;
    float: right;
}

.review-summary.right .inner-wrapper {
    margin: auto;
}

.review-summary.right .title {
    display: block;
    font-size: 16px;
}

.review-summary.right .below-title {
    display: block;
    margin-bottom: 10px;
}

/* Reviews */
#review-template {
    display: none;
}

.review,
#write-review {
    width: 100%;
    min-height: 200px;
}

#write-review,
.review,
.review-comment {
    background-color: #fff;
    border: 1px solid #dbdbdc;
    padding: 25px 25px 25px 0;
}

#write-review {
    display: none;
}

#write-review .choose-stars {
    text-align: center;
}

#write-review .choose-stars .rating-description {
    display: block;
    margin-top: 5px;
}

.review {
    display: table; /* Fixes the problem with using height: 100% for child elements */
}

.review .author {
    width: 155px;
}

.review .author,
.review-comment .author {
    float: left;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    padding: 0 5px 0 5px;
}

.review .author .photo,
.review-comment .author .photo,
.review-comment .author .photo img {
    width: 75px;
    height: 75px;
    margin: 0 auto 10px auto;
}

.review .author .photo img,
.review-comment .author .photo img {
    height: 100%;
    border-radius: 50%;
}

.review .author .name {
    color: #3a3a3a;
    font-size: 13px;
    margin-bottom: 2px;
}

.review .author .verified-customer-wrapper {
    height: 100%;
}

.review .author .verified-customer {
    margin: 0 auto 0 auto;
}

.review .author .icon {
    display: block;
    float: left;
    margin-right: 5px;
}

.review .author .verified-customer .text {
    float: left;
    font-size: 10px;
    color: #3a3a3a;
}

.review .details,
.review-comment .details {
    float: left;
}

.review .details {
    width: 578px;
}

.review .details h3 {
    font-size: 24px;
}

.review .details .date-reviewed,
.review-comment .date-responded {
    color: #4f4f4f;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.review .details .stars {
    margin-bottom: 16px;
}

.review .details p {
    font-size: 16px;
}

/* Review comments */
.review-comments {
    width: 85%;
    float: right;
}

.review-comment {
    min-height: 125px;
    display: table;
    float: right;
}

.review-comment .author {
    width: 125px;
}

.review-comment .details {
    width: 495px;
}

.review-comments .review-comment p {
    margin: 0;
}

/* Write review */
#write-review {
    padding: 30px;
}

#write-review input {
    margin-bottom: 10px;
}

#write-review h3 {
    display: block;
    margin-bottom: 10px;
}

#write-review .stars {
    margin-bottom: 5px;
}

#write-review form {
    width: 60%;
    margin-top: 10px;
}

#write-review .buttons-wrapper {
    margin-top: 30px;
}

#write-review #abort-reviewing {
    display: block;
    font-size: 13px;
    float: left;
    width: 30%;
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
}

#write-review #submit-review {
    display: block;
    float: left;
}