#nps-wrapper {
    text-align: center;
}

#nps-completed .positive,
#nps-completed .negative {
    display: none;
}

#nps-completed .headline {
    font-size: 16px;
    margin-top: 10px;
}

#nps-completed .positive .image,
#nps-completed .negative .image {
    background: green url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/correct-large-white.png) no-repeat center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

#nps-completed .positive .redirect-counter {
    width: 100px;
    height: 100px;
    display: none;
    margin: auto;
}

#nps-completed .positive .redirect-counter p {
    font-size: 48px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 55px;
    color: #ccc;
}

.rate:not(:checked) label:before {
    content: ' ★ ';
}

.rate input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) label:hover,
.rate:not(:checked) label:hover ~ label {
    color: #ded643;
}

.rate input:checked + label:hover,
.rate input:checked + label:hover ~ label,
.rate input:checked ~ label:hover,
.rate input:checked ~ label:hover ~ label,
.rate label:hover ~ input:checked ~ label {
    color: #c54300;
}

.sitereview.facebook {
    background-color: #fff;
}

.sitereview.facebook .logo {
    background: #fff url(/images/review_site_logo/facebook.png) center no-repeat;
}

.sitereview.better_dk {
    background-color: #fff;
}

.sitereview.better_dk .logo {
    background: #fff url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logo.png) center no-repeat;
}

.sitereview.google {
    background-color: #fff;
}

.sitereview.google .logo {
    background: #fff url(/images/review_site_logo/google.png) center no-repeat;
}

.sitereview.yelp {
    background-color: #fff;
}

.sitereview.yelp .logo {
    background: #fff url(/images/review_site_logo/yelp.png) center no-repeat;
}

.sitereview.zomato {
    background-color: #fff;
}

.sitereview.zomato .logo {
    background: #fff url(/images/review_site_logo/zomato.png) center no-repeat;
}

.sitereview.tripadvisor {
    background-color: #fff;
}

.sitereview.tripadvisor .logo {
    background: #fff url(/images/review_site_logo/tripadvisor.png) center no-repeat;
}

.sitereview.instagram {
    background-color: #fff;
}

.sitereview.instagram .logo {
    background: #fff url(/images/review_site_logo/instagram.png) center no-repeat;
}

.sitereview.yellow_pages {
    background-color: #fff;
}

.sitereview.yellow_pages .logo {
    background: #fff url(/images/review_site_logo/yellow_pages.png) center no-repeat;
}

.sitereview.undefined {
    background-color: #fff;
}

.sitereview.undefined .logo {
    background: #fff url(/images/review_site_logo/undefined.png) center no-repeat;
}
