@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaBold.woff2') format('woff2'),
    url('../fonts/ProximaNovaBold.woff') format('woff'),
    url('../fonts/ProximaNovaBold.ttf') format('truetype'),
    url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaRegular.woff2') format('woff2'),
    url('../fonts/ProximaNovaRegular.woff') format('woff'),
    url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
    url('../fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*bt-icon*/
.bt-icon {
    display: inline-block !important;
    background: url('../images/icons.png') no-repeat !important;
}

.btn-icon-btn {
    width: 26px !important;
    height: 30px !important;
    background-position: 0 -28px !important;
}

.bt-icon-better {
    width: 32px !important;
    height: 38px !important;
    background-position: 0 -185px !important;
}

.bt-icon-close {
    width: 16px !important;
    height: 16px !important;
    display: block !important;
    margin: 0 auto !important;
    background-position: 0 -225px !important;
}

/*end bt-icon*/

/*bt-widget-wr*/
.bt-widget-wr {
    font-size: 16px !important;
    font-family: 'ProximaNova', sans-serif !important;
    font-weight: 400 !important;
    color: #2c3e4f !important;
    line-height: 120% !important;
}

.bt-widget-wr_right, .bt-widget-wr_right .bt-btn {
    width: 80px !important;
    height: 96px !important;
}

.bt-widget-wr_right {
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    z-index: 1000000 !important;
}

.bt-btn {
    width: 80px !important;
    height: 96px !important;
    z-index: 4 !important;
    background: #ffffff !important;
    border-radius: 3px 0 0 3px !important;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.11) !important;
    -moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.11) !important;
    -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.11) !important;
    -o-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.11) !important;
}

.btn-icon-btn {
    display: block !important;
    margin: 8px auto 0 !important;
}

.bt-widget__arrow {
    width: 0 !important;
    height: 71px !important;
    background: url('../images/icons.png') no-repeat 0 -60px !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    z-index: 4 !important;
    left: -62px !important;
    transition: opacity, 0.3s !important;
    -moz-transition: opacity, 0.3s !important;
    -webkit-transition: opacity, 0.3s !important;
    -o-transition: opacity, 0.3s !important;
    opacity: 0 !important;
}

.bt-widget-wr_right.open .bt-widget__arrow {
    width: 52px !important;
    opacity: 1 !important;
}

.bt-widget-wr_right.open .bt-widget {
    width: 400px !important;
}

.bt-widget-wr_right.open:after {
    content: '' !important;
    position: absolute !important;
    width: 120px !important;
    min-height: 380px !important;
    right: 80px !important;
    top: -141px !important;
}

/*end bt-widget-wr*/

/*bt-rating-block*/
.bt-rating-block {
    display: block !important;
    margin: 0 !important;
    text-align: center !important;
}

.bt-rating-block > * {
    display: inline-block !important;
    vertical-align: bottom !important;
}

.bt-rating-block_btn {
    background: #e88331 !important;
    padding: 11px 0 0 !important;
    border-radius: 3px 0 0 0 !important;
}

.bt-rating-block__numb {
    margin: 0 auto !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    display: inline-block !important;
}

.bt-rating-block_btn .bt-rating-block__numb {
    color: #ffffff !important;
    font-weight: 400 !important;
    margin-bottom: 1px !important;
    display: block !important;
}

.bt-rating-stars {
    margin: 0 !important;
    display: inline-block !important;
    font-size: 0 !important;
}

.bt-rating-stars__star {
    display: inline-block !important;
    vertical-align: top !important;
    position: relative !important;
    margin: 0 !important;
    margin-right: 2px !important;
    width: 24px !important;
    height: 24px !important;
    background: url('../images/icons.png') no-repeat 0 -133px !important;
}

.bt-rating-stars__star:last-child {
    margin-right: 0 !important;
}

.bt-rating-block_btn .bt-rating-stars__star {
    width: 12px !important;
    height: 12px !important;
    margin-right: 1px !important;
    background-position: 0 0 !important;
}

.bt-rating-stars__star span {
    margin: 0 !important;
    position: absolute !important;
    width: 0;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    background: url('../images/icons.png') no-repeat 0 -159px !important;
}

.bt-rating-block_btn .bt-rating-stars__star span {
    background-position: 0 -14px !important;
}

.bt-widget .bt-rating-block__numb {
    position: relative !important;
    bottom: -2px !important;
    margin-right: 5px !important;
}

.bt-rating-block__desc {
    margin: 0 !important;
    position: relative !important;
    top: 4px !important;
    margin-left: 6px !important;
}

.bt-rating-block__desc span {
    font-size: 24px !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

/*end bt-rating-block*/

/*bt-stats*/
.bt-stats {
    margin-top: 26px !important;
}

.bt-stat > * {
    margin: 0 !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.bt-stat {
    margin-bottom: 9px !important;
}

.bt-stat:last-child {
    margin-bottom: 0 !important;
}

.bt-stat__title {
    margin-right: 8px !important;
    overflow: hidden !important;
    width: 130px !important;
}

.bt-stat__title span {
    display: inline !important;
    margin: 0 !important;
    font-size: 12px !important;
    color: #999999 !important;
    font-style: normal !important;
}

.bt-stat__line {
    width: 130px !important;
    height: 8px !important;
    position: relative !important;
    background: #f4f4f4 !important;
    border-radius: 4px !important;
}

.bt-stat__line span {
    position: absolute !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    width: 0;
    border-radius: 4px !important;
    background: #e87a31 !important;
}

.bt-stat__desc {
    position: relative !important;
    top: -1px !important;
    margin-left: 15px !important;
}

.bt-stat__desc span {
    display: inline !important;
    margin: 0 !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

/*end bt-stats*/

/*bt-widget*/
.bt-widget {
    position: absolute !important;
    width: 0 !important;
    z-index: 3 !important;
    height: auto !important;
    overflow: hidden !important;
    right: 140px !important;
    background: #ffffff !important;
    box-shadow: 10px 0 27px rgba(0, 0, 0, 0.11) !important;
    -moz-box-shadow: 10px 0 27px rgba(0, 0, 0, 0.11) !important;
    -webkit-box-shadow: 10px 0 27px rgba(0, 0, 0, 0.11) !important;
    -o-box-shadow: 10px 0 27px rgba(0, 0, 0, 0.11) !important;
    transition: all, 0.3s !important;
    -moz-transition: all, 0.3s !important;
    -webkit-transition: all, 0.3s !important;
    -o-transition: all, 0.3s !important;
}

.bt-widget-top {
    text-align: center !important;
    background: #3f5b75 !important;
    padding: 10px 15px 3px !important;
}

.bt-widget__title {
    margin: 24px 0 !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
}

.bt-widget-body {
    padding: 19px 28px 21px !important;
}

.bt-widget-bottom {
    border-top: 1px solid #fae4d6 !important;
    padding: 6px 28px 5px !important;
}

.bt-widget-bottom__title {
    font-size: 14px !important;
    line-height: 105% !important;
    text-align: left !important;
    display: inline-block !important;
    max-width: 130px !important;
    margin: 14px 0 0 !important;
}

.bt-widget-bottom:after {
    content: '' !important;
    display: block !important;
    clear: both !important;
}

.bt-site-link {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    border: none !important;
    margin-top: 9px !important;
    float: right !important;
    color: #2c3e4f !important;
    text-decoration: none !important;
}

.bt-site-link > * {
    margin: 0 !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.bt-site-link span:first-child {
    text-transform: uppercase !important;
    margin-right: 13px !important;
}

.bt-widget-in {
    width: 400px !important;
    padding-bottom: 11px !important;
    right: 0 !important;
    top: 0 !important;
}

.bt-widget__close {
    display: none !important;
}

/*end bt-widget*/

/*bt-banner*/
.bt-banner {
    font-size: 16px !important;
    line-height: normal !important;
    font-family: 'ProximaNova', sans-serif !important;
}

.bt-banner_sm {
    max-width: 260px !important;
    display: block !important;
    margin: 0 auto !important;
}

.bt-banner-top {
    display: block !important;
    margin: 0 !important;
    background: #3f5b75 !important;
    color: #ffffff !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -o-box-sizing: border-box !important;
    padding: 3px 6px 14px !important;
}

.bt-banner_sm .bt-rating-block__numb {
    font-size: 18px !important;
}

.bt-banner_sm .bt-rating-block__desc,
.bt-banner_sm .bt-rating-block__desc span {
    font-size: 14px !important;
}

.bt-banner_sm .bt-rating-stars__star {
    width: 12px !important;
    height: 12px !important;
    background-position: 0 -271px !important;
}

.bt-banner_sm .bt-rating-stars__star span {
    background-position: 0 -285px !important;
}

.bt-banner_sm .bt-rating-block__numb {
    position: relative !important;
    top: 6px !important;
    margin-right: 4px !important;
}

.bt-banner_sm .bt-rating-block__desc {
    margin-left: 8px !important;
}

.bt-banner_sm .bt-rating-stars__star {
    margin-right: 1px !important;
}

.bt-banner-top__title {
    margin: 0 !important;
    display: block !important;
}

.bt-banner_sm .bt-banner-top__title {
    text-transform: uppercase !important;
    font-weight: 700 !important;
    text-align: center !important;
    margin: 0 0 -6px !important;
    padding-top: 11px !important;
}

.bt-banner_sm .bt-banner-top_big {
    padding-bottom: 18px !important;
}

.bt-banner_shadow {
    background: #ffffff !important;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -o-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
}

.bt-banner_sm .bt-banner-bottom {
    padding: 6px 20px 10px 18px !important;
}

.bt-banner_sm .bt-widget-bottom__title {
    font-size: 12px !important;
    max-width: 115px !important;
    margin-top: 8px !important;
    line-height: 100% !important;
}

.bt-hr .bt-icon-better,
.bt-banner_big .bt-icon-better,
.bt-banner_md .bt-icon-better,
.bt-banner_sm .bt-icon-better {
    width: 21px !important;
    height: 26px !important;
    background-position: 0 -243px !important;
}

.bt-banner_big .bt-site-link,
.bt-banner_md .bt-site-link,
.bt-banner_sm .bt-site-link {
    margin-top: 3px !important;
}

.bt-banner_big .bt-site-link > *,
.bt-banner_md .bt-site-link > *,
.bt-banner_sm .bt-site-link > * {
    vertical-align: bottom !important;
}

.bt-banner_big .bt-site-link span:first-child,
.bt-banner_md .bt-site-link span:first-child,
.bt-banner_sm .bt-site-link span:first-child {
    position: relative !important;
    top: 5px !important;
    font-size: 14px !important;
    margin-right: -2px !important;
}

.bt-banner_white .bt-banner-top {
    background: #ffffff !important;
    padding-bottom: 17px !important;
    border-bottom: 1px solid #d9dee3 !important;
    color: #2c3e4f !important;
}

.bt-banner_white .bt-banner-top:last-child {
    border-bottom: none !important;
}

.bt-banner_white .bt-rating-stars__star {
    background-position: 0 -299px !important;
}

.bt-banner_white .bt-rating-stars__star span {
    background-position: 0 -313px !important;
}

.bt-banner_md, .bt-banner_big {
    max-width: 300px !important;
    display: block !important;
    color: #2c3e4f !important;
    margin: 0 auto !important;
    background: #ffffff !important;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -o-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
}

.bt-banner_md .bt-banner-top__title,
.bt-banner_big .bt-banner-top__title {
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    margin: 0 !important;
}

.bt-banner_big .bt-banner-top,
.bt-banner_md .bt-banner-top {
    padding-bottom: 8px !important;
    padding-top: 9px !important;
}

.bt-hr .bt-rating-stars__star,
.bt-review .bt-rating-stars__star,
.bt-banner_md .bt-rating-stars__star {
    width: 16px !important;
    height: 16px !important;
    background-position: 0 -327px !important;
}

.bt-hr .bt-rating-stars__star span,
.bt-review .bt-rating-stars__star span,
.bt-banner_md .bt-rating-stars__star span {
    background-position: 0 -345px !important;
}

.bt-banner_md .bt-rating-block__desc {
    top: 3px !important;
}

.bt-banner_md .bt-rating-block__numb {
    margin-right: 5px !important;
    position: relative !important;
    top: 7px !important;
}

.bt-banner_md .bt-rating-block__desc,
.bt-banner_md .bt-rating-block__desc span {
    font-size: 14px !important;
}

.bt-banner_md .bt-rating-block {
    border-bottom: 1px solid #f4f4f4 !important;
    padding: 3px 10px 14px !important;
}

.bt-banner_md .bt-stat__line {
    width: 80px !important;
}

.bt-banner_md .bt-stat__title {
    font-size: 14px !important;
    margin-right: 0 !important;
    width: 116px !important;
}

.bt-banner_md .bt-stats {
    text-align: center !important;
    margin-top: 21px !important;
}

.bt-banner_md .bt-stat__desc,
.bt-banner_md .bt-stat__title {
    text-align: left !important;
}

.bt-banner_md .bt-stat__desc {
    width: 52px !important;
    margin-left: 5px !important;
}

.bt-banner_md .bt-site-link span:first-child {
    margin-right: 4px !important;
}

.bt-banner_big .bt-banner-bottom,
.bt-banner_md .bt-banner-bottom {
    margin-top: 17px !important;
    padding: 13px 20px 16px !important;
    border-top: 1px solid #d9dee3 !important;
}

.bt-banner_big .bt-widget-bottom__title,
.bt-banner_md .bt-widget-bottom__title {
    line-height: 95% !important;
    margin-top: 6px !important;
}

.bt-banner_big .bt-rating-block__numb {
    position: relative !important;
    top: 8px !important;
    margin-right: 15px !important;
}

.bt-banner_big .bt-rating-block__desc {
    margin-left: 0 !important;
    font-size: 16px !important;
    margin-top: 1px !important;
}

.bt-banner_big .bt-rating-block__desc span {
    font-size: 18px !important;
}

.bt-banner_big .bt-rating-block {
    padding-bottom: 15px !important;
    padding-top: 8px !important;
    border-bottom: 1px solid #f4f4f4 !important;
}

.bt-banner_big .bt-banner-content {
    margin-top: 20px !important;
}

.bt-slider {
    position: relative !important;
    max-width: 240px !important;
    margin: 0 auto !important;
}

.bt-reviews {
    padding-left: 0 !important;
    list-style: none !important;
    margin: 0 !important;
}

.bt-review {
    width: 240px !important;
}

.bt-review__desc {
    display: inline-block !important;
    margin: 0 !important;
}

.bt-review__desc span:last-child {
    display: inline !important;
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-left: 5px !important;
}

.bt-review__icon-wr {
    margin: 0 !important;
    font-size: 0 !important;
    display: inline-block !important;
    position: relative !important;
    width: 16px !important;
    height: 16px !important;
    overflow: hidden !important;
}

.bt-review:hover .bt-review__icon-wr img {
    position: absolute !important;
    left: 0 !important;
    top: -16px !important;
}

.bt-review__time {
    margin: 0 !important;
    float: right !important;
    font-size: 14px !important;
    color: #999999 !important;
    padding-top: 3px !important;
}

.bt-review .bt-rating-block {
    border-bottom: none !important;
    text-align: left !important;
    clear: both !important;
    padding-bottom: 0 !important;
}

.bt-review .bt-rating-block__numb {
    font-size: 18px !important;
    top: 6px !important;
    margin-right: 23px !important;
}

.bt-review__name, .bt-review__text {
    margin: 0 !important;
}

.bt-review__text {
    display: block !important;
    margin: 0 !important;
    font-size: 14px !important;
    line-height: 120% !important;
    margin-top: 11px !important;
    height: 80px !important;
    overflow: hidden !important;
    position: relative !important;
}

.bt-review:hover .bt-review__text:after {
    opacity: 0 !important;
}

.bt-review__text:after {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    bottom: -22px !important;
    z-index: 1 !important;
    height: 1px !important;
    transition: all, 0.3s !important;
    -moz-transition: all, 0.3s !important;
    -webkit-transition: all, 0.3s !important;
    -o-transition: all, 0.3s !important;
    box-shadow: 0 -10px 15px 20px #ffffff !important;
    -moz-box-shadow: 0 -10px 15px 20px #ffffff !important;
    -webkit-box-shadow: 0 -10px 15px 20px #ffffff !important;
    -o-box-shadow: 0 -10px 15px 20px #ffffff !important;
}

.bt-review__name {
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-top: 14px !important;
}

.bt-reviews__prev a, .bt-reviews__next a {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border: none !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
}

.bt-reviews__prev, .bt-reviews__next {
    position: absolute !important;
    width: 12px !important;
    height: 27px !important;
    top: 80px !important;
    cursor: pointer !important;
    background: url('../images/icons.png') no-repeat 0 -363px !important;
}

.bt-reviews__prev {
    left: -18px !important;
}

.bt-reviews__prev:hover {
    background-position: -14px -363px !important;
}

.bt-reviews__next {
    right: -18px !important;
    background-position: 0 -392px !important;
}

.bt-reviews__next:hover {
    background-position: -14px -392px !important;
}

/*end bt-banner*/

/*bt-hr-wrap*/
.bt-hr-wrap {
    color: #2c3e4f !important;
    padding: 40px 40px 16px !important;
    font-size: 16px !important;
    line-height: normal !important;
    font-family: 'ProximaNova', sans-serif !important;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -o-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05) !important;
}

.bt-hr {
    max-width: 1120px !important;
    margin: 0 auto !important;
    text-align: justify !important;
}

.bt-hr > * {
    display: inline-block !important;
    vertical-align: top !important;
}

.bt-hr:after {
    content: '' !important;
    width: 100% !important;
    display: inline-block !important;
}

.bt-hr-left {
    width: 220px !important;
}

.bt-hr__title {
    margin: 0 !important;
    background: #3f5b75 !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 18px !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    text-align: center !important;
    font-weight: 700 !important;
}

.bt-hr-left .bt-rating-block__text {
    font-size: 14px !important;
    display: inline-block !important;
    margin-right: 12px !important;
}

.bt-hr-left .bt-rating-block__text,
.bt-hr-left .bt-rating-block__numb {
    position: relative !important;
    top: 6px !important;
}

.bt-hr-left .bt-rating-block__text {
    top: 5px !important;
}

.bt-hr-left .bt-rating-block__numb {
    font-size: 18px !important;
    margin-right: 8px !important;
}

.bt-hr-left .bt-rating-stars__star {
    margin-right: 1px !important;
}

.bt-hr-left .bt-rating-block {
    padding-top: 7px !important;
    border-bottom: 1px solid #f4f4f4 !important;
    padding-bottom: 15px !important;
}

.bt-hr-left .bt-rating-block__desc {
    margin-left: 0 !important;
    margin-top: 6px !important;
}

.bt-hr-left .bt-rating-block__desc,
.bt-hr-left .bt-rating-block__desc span {
    font-size: 14px !important;
}

.bt-hr-left-bottom {
    padding-top: 8px !important;
    text-align: center !important;
    padding-bottom: 8px !important;
    border-bottom: 1px solid #d9dee3 !important;
}

.bt-hr-left-bottom__title {
    font-size: 12px !important;
    margin: 0 !important;
}

.bt-hr-left-bottom .bt-site-link {
    float: none !important;
    display: inline-block !important;
    margin-top: 2px !important;
}

.bt-hr-left-bottom .bt-site-link span:first-child {
    margin-right: 25px !important;
}

.bt-hr .bt-slider {
    max-width: 800px !important;
    margin-right: 20px !important;
    width: 100% !important;
}

.bt-hr .bt-review {
    float: left !important;
}

.bt-hr .bt-reviews {
    margin: 0 !important;
    overflow: hidden !important;
}

.bt-hr .bt-review .bt-rating-block__numb {
    position: relative !important;
    top: 6px !important;
    margin-right: 15px !important;
}

.bt-hr .bt-review .bt-rating-block {
    padding-top: 8px !important;
}

.bt-hr .bt-review {
    margin-right: 40px !important;
}

.bt-hr .bt-reviews__prev,
.bt-hr .bt-reviews__next {
    width: 14px !important;
    height: 32px !important;
    top: 68px !important;
    background-position: 0 -421px !important;
}

.bt-hr .bt-reviews__prev {
    left: -35px !important;
}

.bt-hr .bt-reviews__next {
    right: -35px !important;
}

.bt-hr .bt-reviews__prev:hover {
    background-position: -16px -421px !important;
}

.bt-hr .bt-reviews__next {
    background-position: 0 -455px !important;
}

.bt-hr .bt-reviews__next:hover {
    background-position: -16px -455px !important;
}

.bt-hr-bottom {
    display: none !important;
}

/*end bt-hr-wrap*/

/*mob*/
.bt-hr-wrap.bt-hr-wrap_1200 {
    padding-bottom: 58px !important;
    position: relative !important;
}

.bt-hr-wrap_1200 .bt-hr-left {
    position: absolute !important;
    width: 100% !important;
    max-width: 835px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 17px !important;
    margin: 0 auto !important;
}

.bt-hr-wrap_1200 .bt-hr-left > * {
    display: inline-block !important;
    vertical-align: middle !important;
}

.bt-hr-wrap_1200 .bt-hr .bt-slider {
    display: block !important;
    margin: 0 auto !important;
    padding-bottom: 25px !important;
    border-bottom: 1px solid #f4f4f4 !important;
}

.bt-hr-wrap_1200 .bt-hr__title {
    font-size: 24px !important;
    margin-right: 5px !important;
    display: inline !important;
    background: none !important;
    color: #2c3e4f !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-block {
    padding: 0 !important;
    position: relative !important;
    line-height: 100% !important;
    top: -5px !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-block__numb {
    margin-right: 15px !important;
    font-size: 24px !important;
    top: 1px !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-block__desc {
    font-size: 16px !important;
    top: 3px !important;
    margin-left: 15px !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-block__desc span {
    font-size: 18px !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-block,
.bt-hr-wrap_1200 .bt-hr-left-bottom,
.bt-hr-wrap_1200 .bt-hr-left-bottom__title {
    display: inline-block !important;
    border-bottom: none !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-block__text {
    display: none !important;
}

.bt-hr-wrap_1200 .bt-hr-left-bottom__title {
    font-size: 14px !important;
    max-width: 130px !important;
    text-align: left !important;
    line-height: 105% !important;
}

.bt-hr-wrap_1200 .bt-hr-left-bottom {
    margin-left: 29px !important;
}

.bt-hr-wrap_1200 .bt-hr-left-bottom > * {
    display: inline-block !important;
    vertical-align: middle !important;
}

.bt-hr-wrap_1200 .bt-hr-left-bottom .bt-site-link {
    margin-left: 6px !important;
}

.bt-hr-wrap_1200 .bt-hr-left-bottom .bt-site-link span:first-child {
    margin-right: 4px !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-stars__star {
    width: 24px !important;
    height: 24px !important;
    background-position: 0 -133px !important;
    margin-right: 1px !important;
}

.bt-hr-wrap_1200 .bt-hr-left .bt-rating-stars__star span {
    background-position: 0 -159px !important;
}

.bt-hr-wrap_950 .bt-hr .bt-slider {
    max-width: 520px !important;
}

.bt-hr-wrap_950 .bt-hr-left-bottom {
    padding-top: 0 !important;
    margin-top: -4px !important;
    display: block !important;
}

.bt-hr-wrap_950 .bt-hr-left {
    text-align: center !important;
    bottom: 27px !important;
}

.bt-hr-wrap_950 .bt-hr-left-bottom__title {
    max-width: inherit !important;
    margin-right: 9px !important;
    position: relative !important;
    bottom: -2px !important;
}

.bt-hr-wrap.bt-hr-wrap_950 {
    padding-bottom: 98px !important;
}

.bt-hr-wrap_670 .bt-hr .bt-slider {
    max-width: 240px !important;
}

.bt-hr-wrap_670 .bt-hr .bt-review {
    margin-right: 0 !important;
}

.bt-hr-wrap_670 .bt-hr-left {
    position: static !important;
    padding-bottom: 18px !important;
    margin-bottom: 30px !important;
    border-bottom: 1px solid #f4f4f4 !important;
}

.bt-hr-wrap_670 .bt-hr__title {
    display: block !important;
    height: 48px !important;
    line-height: 48px !important;
    background: #3f5b75 !important;
    margin-bottom: 24px !important;
    color: #ffffff !important;
}

.bt-hr-wrap_670.bt-hr-wrap {
    max-width: 320px !important;
    padding: 0 !important;
    margin: 0 auto !important;
}

.bt-hr-wrap_670 .bt-hr-left .bt-rating-block__desc {
    margin-left: 0 !important;
}

.bt-hr-wrap_670 .bt-hr-left-bottom {
    display: none !important;
}

.bt-hr-wrap_670 .bt-hr .bt-slider {
    border-bottom: none !important;
}

.bt-hr-wrap_670 .bt-hr-bottom {
    display: block !important;
    border-top: 1px solid #d9dee3 !important;
    padding: 5px 38px 14px !important;
    margin-top: 10px !important;
}

.bt-hr-wrap_670 .bt-hr-bottom .bt-site-link {
    margin-top: 14px !important;
}

.bt-hr-wrap_670 .bt-hr-bottom .bt-site-link span:first-child {
    margin-right: 0 !important;
    position: relative !important;
    top: 8px !important;
}

.bt-hr-wrap_670 .bt-hr:after {
    display: none !important;
}

.bt-hr-wrap_670 .bt-hr .bt-reviews__prev, .bt-hr-wrap_670 .bt-hr .bt-reviews__next {
    width: 12px !important;
    height: 27px !important;
    top: 80px !important;
    background: url('../images/icons.png') no-repeat 0 -363px !important;
}

.bt-hr-wrap_670 .bt-hr .bt-reviews__prev {
    left: -25px !important;
}

.bt-hr-wrap_670 .bt-hr .bt-reviews__prev:hover {
    background-position: -14px -363px !important;
}

.bt-hr-wrap_670 .bt-hr .bt-reviews__next {
    right: -25px !important;
    background-position: 0 -392px !important;
}

.bt-hr-wrap_670 .bt-hr .bt-reviews__next:hover {
    background-position: -14px -392px !important;
}

/*end mob*/

@media all and (max-width: 1200px) {
    .bt-hr-wrap {
        padding-bottom: 58px !important;
        position: relative !important;
    }

    .bt-hr-left {
        position: absolute !important;
        width: 100% !important;
        max-width: 835px !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 17px !important;
        margin: 0 auto !important;
    }

    .bt-hr-left > * {
        display: inline-block !important;
        vertical-align: middle !important;
    }

    .bt-hr .bt-slider {
        display: block !important;
        margin: 0 auto !important;
        padding-bottom: 25px !important;
        border-bottom: 1px solid #f4f4f4 !important;
    }

    .bt-hr__title {
        font-size: 24px !important;
        margin-right: 5px !important;
        display: inline !important;
        background: none !important;
        color: #2c3e4f !important;
    }

    .bt-hr-left .bt-rating-block {
        padding: 0 !important;
        position: relative !important;
        line-height: 100% !important;
        top: -5px !important;
    }

    .bt-hr-left .bt-rating-block__numb {
        margin-right: 15px !important;
        font-size: 24px !important;
        top: 1px !important;
    }

    .bt-hr-left .bt-rating-block__desc {
        font-size: 16px !important;
        top: 3px !important;
        margin-left: 15px !important;
    }

    .bt-hr-left .bt-rating-block__desc span {
        font-size: 18px !important;
    }

    .bt-hr-left .bt-rating-block, .bt-hr-left-bottom, .bt-hr-left-bottom__title {
        display: inline-block !important;
        border-bottom: none !important;
    }

    .bt-hr-left .bt-rating-block__text {
        display: none !important;
    }

    .bt-hr-left-bottom__title {
        font-size: 14px !important;
        max-width: 130px !important;
        text-align: left !important;
        line-height: 105% !important;
    }

    .bt-hr-left-bottom {
        margin-left: 29px !important;
    }

    .bt-hr-left-bottom > * {
        display: inline-block !important;
        vertical-align: middle !important;
    }

    .bt-hr-left-bottom .bt-site-link {
        margin-left: 6px !important;
    }

    .bt-hr-left-bottom .bt-site-link span:first-child {
        margin-right: 4px !important;
    }

    .bt-hr-left .bt-rating-stars__star {
        width: 24px !important;
        height: 24px !important;
        background-position: 0 -133px !important;
        margin-right: 1px !important;
    }

    .bt-hr-left .bt-rating-stars__star span {
        background-position: 0 -159px !important;
    }
}

@media all and (max-width: 950px) {
    .bt-hr .bt-slider {
        max-width: 520px !important;
    }

    .bt-hr-left-bottom {
        padding-top: 0 !important;
        margin-top: -4px !important;
        display: block !important;
    }

    .bt-hr-left {
        text-align: center !important;
        bottom: 27px !important;
    }

    .bt-hr-left-bottom__title {
        max-width: inherit !important;
        margin-right: 9px !important;
        position: relative !important;
        bottom: -2px !important;
    }

    .bt-hr-wrap {
        padding-bottom: 98px !important;
    }
}

@media all and (max-width: 670px) {
    .bt-hr .bt-slider {
        max-width: 240px !important;
    }

    .bt-hr .bt-review {
        margin-right: 0 !important;
    }

    .bt-hr-left {
        position: static !important;
        padding-bottom: 18px !important;
        margin-bottom: 30px !important;
        border-bottom: 1px solid #f4f4f4 !important;
    }

    .bt-hr__title {
        display: block !important;
        height: 48px !important;
        line-height: 48px !important;
        margin-right: 0 !important;
        background: #3f5b75 !important;
        margin-bottom: 24px !important;
        color: #ffffff !important;
    }

    .bt-hr-wrap {
        max-width: 320px !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }

    .bt-hr-left .bt-rating-block__desc {
        margin-left: 0 !important;
    }

    .bt-hr-left-bottom {
        display: none !important;
    }

    .bt-hr .bt-slider {
        border-bottom: none !important;
    }

    .bt-hr-bottom {
        display: block !important;
        border-top: 1px solid #d9dee3 !important;
        padding: 5px 38px 14px !important;
        margin-top: 10px !important;
    }

    .bt-hr-bottom .bt-site-link {
        margin-top: 14px !important;
    }

    .bt-hr-bottom .bt-site-link span:first-child {
        margin-right: 0 !important;
        position: relative !important;
        top: 8px !important;
    }

    .bt-hr:after {
        display: none !important;
    }

    .bt-hr .bt-reviews__prev, .bt-hr .bt-reviews__next {
        width: 12px !important;
        height: 27px !important;
        top: 80px !important;
        background: url('../images/icons.png') no-repeat 0 -363px !important;
    }

    .bt-hr .bt-reviews__prev {
        left: -25px !important;
    }

    .bt-hr .bt-reviews__prev:hover {
        background-position: -14px -363px !important;
    }

    .bt-hr .bt-reviews__next {
        right: -25px !important;
        background-position: 0 -392px !important;
    }

    .bt-hr .bt-reviews__next:hover {
        background-position: -14px -392px !important;
    }
}

@media all and (max-width: 540px) {
    .bt-widget-wr_right {
        height: 0 !important;
        position: static !important;
    }

    .bt-btn {
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: auto !important;
    }

    .bt-widget__arrow {
        display: none !important;
    }

    .bt-widget-wr_right.open .bt-widget {
        left: 0 !important;
        opacity: 1 !important;
    }

    .bt-widget {
        position: fixed !important;
        top: 0 !important;
        left: -100% !important;
        opacity: 0 !important;
        z-index: 10 !important;
        transition: opacity, 0.3s !important;
        -moz-transition: opacity, 0.3s !important;
        -webkit-transition: opacity, 0.3s !important;
        -o-transition: opacity, 0.3s !important;
    }

    .bt-widget-wr_right:hover .bt-widget,
    .bt-widget, .bt-widget-in {
        width: 100% !important;
        height: 100% !important;
    }

    .bt-widget-top {
        position: relative !important;
        padding: 15px 20px 14px !important;
        text-align: left !important;
    }

    .bt-widget__title {
        margin: 0 !important;
    }

    .bt-widget__close {
        display: block !important;
        position: absolute !important;
        top: 11px !important;
        right: 24px !important;
        cursor: pointer !important;
    }

    .bt-widget__close span {
        font-size: 12px !important;
        color: #d7e2ed !important;
        display: block !important;
        position: relative !important;
        left: -1px !important;
        margin-top: -3px !important;
    }

    .bt-widget__close span:first-letter {
        text-transform: uppercase !important;
    }

    .bt-widget .bt-rating-block {
        border-bottom: 1px solid #f4f4f4 !important;
        width: 100% !important;
        padding-left: 18px !important;
        padding-right: 18px !important;
        position: relative !important;
        left: -18px !important;
        padding-bottom: 22px !important;
    }

    .bt-rating-block__desc span {
        font-size: 18px !important;
    }

    .bt-widget .bt-rating-block__desc {
        display: block !important;
        margin-top: 3px !important;
        margin-left: 0 !important;
    }

    .bt-widget .bt-rating-block__numb {
        margin-right: 15px !important;
    }

    .bt-widget-body {
        padding-left: 18px !important;
        padding-right: 18px !important;
        text-align: center !important;
    }

    .bt-stat__title, .bt-stat__desc {
        text-align: left !important;
    }

    .bt-stat__title {
        margin-right: 0 !important;
    }

    .bt-stat__line {
        width: 80px !important;
    }

    .bt-stat__desc {
        margin-left: 4px !important;
        width: 52px !important;
        white-space: nowrap !important;
    }

    .bt-stats {
        margin-top: 31px !important;
    }

    .bt-widget-bottom {
        position: absolute !important;
        left: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        padding: 6px 20px 25px !important;
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        -o-box-sizing: border-box !important;
    }

    .bt-icon-better {
        width: 21px !important;
        height: 26px !important;
        background-position: 0 -243px !important;
    }

    .bt-widget-bottom__title {
        margin-top: 20px !important;
    }

    .bt-site-link {
        margin-top: 23px !important;
    }

    .bt-site-link > * {
        vertical-align: bottom !important;
    }

    .bt-site-link span:first-child {
        position: relative !important;
        top: 1px !important;
        margin-right: 5px !important;
    }
}
