.import {
    background-color: #EFF5F6;
    border: 1px solid #D6E5E8;
    border-radius: 4px;
    padding: 0 25px 25px 25px;
}

.import .import-icon {
    background-color: #283137;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: relative;
    top: -37px;
}

.import .import-icon * {
    width: 100%;
    height: 100%;
}

.import .import-icon .paper-fly {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/send-fly.png) 50% 50% no-repeat;
}

.import .import-icon .correct {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/correct-large-white.png) 50% 50% no-repeat;
}

.import .import-icon .loading {
    background: url(/images/company/cp/ajax-spinner.gif) 50% 50% no-repeat;
}

.import .title {
    position: relative;
    top: -10px;
    font-size: 18px;
}

.import .title .import-count {
    font-size: 20px;
}

.import .title.success {
    font-size: 24px;
    text-align: center;
    display: none;
}

.import .title.success .import-count,
.import .title.success .attempted {
    font-size: 24px;
}

.import .title.success a {
    font-size: 14px;
}

.import .button-wrapper {
    width: 100%;
}