/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1700px) {
	/*[data-type="widget_type_middle"]{
		padding-left: 28px;
		padding-right: 28px;
	}
	.rating_1 .br-wrapper{width: 70%;}
	.rating_2 .img_box{width: 42%;}*/

}

@media only screen and (max-width: 1500px) {
	/*.rating_2 .br-wrapper{width: 48%;}
	.rating_2 .img_box{width: 35%;}*/
}

@media only screen and (max-width: 1440px) {
	/*.rating_2 .br-wrapper{width: 50%;}*/
}

@media only screen and (max-width: 1400px) {
	.temporary_wrap{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	.rating_1 .br-wrapper{width: 59%;}

	[data-type="widget_type_middle"]{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
	/*.rating_2 .img_box{width: 32%;}
	.rating_2 .br-wrapper{width: 53%;}*/
}

@media only screen and (max-width: 1215px) {
	/*.rating_1 .br-wrapper{width: 64%;}*/

	/*.rating_2 .img_box{width: 26%;}*/
	/*.rating_2 .br-wrapper{width: 57%;}*/
}

@media only screen and (max-width: 1199px) {

	.rating_2 .img_box{width: 45%;}
	.rating_2 .br-wrapper{width: 45%;}
}

@media only screen and (max-width: 1024px) {
	.rating_1 .br-wrapper{
		width: 59%;
	}

}

@media only screen and (max-width: 995px) {
	body{min-width:768px;}
	[data-type="widget_type_small"]{
		padding-left: 15px;
		padding-right: 15px;
	}

	.rating_1 .br-wrapper{
		width: 57%;
	}
}

@media only screen and (max-width: 991px) {
	.rating_1 .br-wrapper{
		width: 70%;
	}
}

@media only screen and (max-width: 767px) {
	body{min-width:420px;}
}

@media only screen and (max-width: 480px) {
	body{min-width:300px;}
	.comit_box{
		padding: 18px 10px;
	}
}

@media only screen and (max-width: 414px) {
	.comit_box .date{
		float: none;
		width: 100%;
		display: inline-block;
		padding-left: 45px;
	}
}

@media only screen and (max-width: 390px) {
	.comit_box .stars{
		width: 185px;
		padding-left: 45px;
	}

	.rating_2 .img_box,
	.rating_2 .count{
		float: none;
		width: 100%;
		text-align: center;
	}
	.rating_2 .br-wrapper{
		float: none;
		width: 53%;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.rating_2 .stars1{
		margin-bottom: 30px;
	}
	.rating_1 .br-wrapper{
		width: 67%;
	}
}