@import "/css/company/controlpanel/reset.css";
@import "/css/company/controlpanel/bootstrap_grid.css";
@import "/css/company/controlpanel/css-stars.css";
@import "/css/company/controlpanel/examples.css";
@import "/css/company/controlpanel/bars-1to10.css";
@import "/css/company/controlpanel/bars-movie.css";
@import "/css/company/controlpanel/bars-square.css";
@import "/css/company/controlpanel/bars-pill.css";
@import "/css/company/controlpanel/bars-reversed.css";
@import "/css/company/controlpanel/bars-horizontal.css";
@import "/css/company/controlpanel/fontawesome-stars.css";
@import "/css/company/controlpanel/css-stars.css";
@import "/css/company/controlpanel/bootstrap-stars.css";
@import "/css/company/controlpanel/fontawesome-stars-o.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block
}

mark, rp, rt, ruby, summary, time {
    display: inline
}

/* Global properties ======================================================== */
html {
    width: 100%
}

body {
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 12px;
    color: #5b5b5b;
    min-width: 960px;
    background-color: #FFF;
    -webkit-text-size-adjust: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
    color: #5B5B5B;
    outline: none;
    /*text-decoration:underline;*/
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 0 0;
    margin: 0 0 0;
    font-size: px;
    line-height: px;
    color: #;
}

.btn:hover {
    background:;
    color: #000;
}

a.td_und {
    text-decoration: underline;
}

a.td_und:hover {
    text-decoration: none;
}

/*----------------------> Basic Classes <------------------*/
.reg {
    text-transform: uppercase
}

.f_left {
    float: left
}

.f_right {
    float: right
}

.al_left {
    text-align: left;
}

.al_right {
    text-align: right
}

.al_center {
    text-align: center
}

.it {
    font-style: italic
}

.let {
    letter-spacing: -1px
}

.full_w {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.val_mid {
    vertical-align: middle;
}

/*----------------------> Indents Zero <------------------*/

.m_b_zero {
    margin-bottom: 0 !important;
}

.m_l_zero {
    margin-left: 0 !important;
}

.p_b_zero {
    padding-bottom: 0 !important;
}

.p_l_zero {
    padding-left: 0 !important;
}

/*----------------------> Positions <------------------*/
.p_abs {
    position: absolute;
}

.p_rel {
    position: relative;
}

.p_fix {
    position: fixed;
}

.clear {
    clear: both;
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper {
    overflow: hidden
}

.f_elem > *:first-child {
    margin-top: 0 !important;
}

.f_elem1 > *:first-child {
    margin-top: 0 !important;
    border: none !important;
}

.bg_none {
    background: none !important;
}

/*----------------------> Displays <------------------*/

.d_block {
    display: block;
}

.d_ib {
    display: inline-block;
}

.d_none {
    display: none;
}

.d_tc {
    display: table-cell;
}

.d_t {
    display: table;
}

/*----------------------> Basic Colors <------------------*/

/*======================> Header <======================*/

header {
}

.logo {
}

.logo a {
    display: block;
    width: 278px;
    height: 85px;
    background: url(../images/logo.png) 0 0 no-repeat;
    text-decoration: none;
    text-indent: -9999px;
}

/*=====================> Content ========================*/
#content {
    padding: 0px 0px 0px 0px;
    min-height: 1500px;
}

.cont_pad {
    padding: 0 0 0 0 !important;
}

.temporary_wrap {
    width: 1358px;
    margin-left: auto;
    margin-right: auto;
}

.hr1 {
    width: 100%;
    border: none;
    height: 2px;
    background-color: #F2F2F2;
    margin-bottom: 20px;
}
.hr2 {
    width: 100%;
    border: none;
    height: 2px;
    background-color: #F2F2F2;
    margin-top: 0;
    margin-bottom: 20px;
}

/*-------------  WIDGETS  -----------*/
.widgets_wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.widget_row {
    margin-left: -10px;
    margin-right: -10px;
}

[data-type^="widget_type_"] {
    /*float: left;*/
    padding-top: 18px;
    margin-bottom: 22px;
    background-color: #F9F9F9;
    border: 1px solid #E3E3E3;
}

[data-type^="widget_type_"] p {
    margin-bottom: 0;
}

[data-type^="widget_type_"] .content {
    min-height: 100px;
    text-align: center;
}

[data-type="widget_type_small"] {
    /*width: 20.98%;*/
    min-height: 135px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
}

[data-type="widget_type_small"] .br-theme-css-stars .br-widget a {
    width: 23px;
    height: 23px;
    font-size: 28px;
    text-align: center;
}

[data-type="widget_type_small"] span.fz30 {
    line-height: 2.7;
    margin-left: 0px;
}

[data-type="widget_type_small"] .stars-example-css {
    margin-top: -15px;
}

[data-type="widget_type_small"] .br-theme-css-stars .br-widget {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

[data-type="widget_type_middle"] {
    /*width: 31.1%;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
}

.rating_1 {
    background-color: #FFF;
    padding: 4px 5px;
    display: inline-block;
    width: 100%;
}

.rating_1_star_count {
    display: block;
    float: left;
    width: 28px;
    color: #9a9a9a;
    font-size: 14px;
    line-height: 1.2;
    padding-right: 15px;
    margin-right: 14px;
    text-align: center;
    background: url(/images/control-panel/statistic/star_grey.jpg) 100% 50% no-repeat;
}

.rating_1 .br-wrapper {
    width: 58%;
    float: left;
}

.rating_1 .box-body {
    display: inline-block;
    width: 100%;
}

.rating_1 .br-theme-bars-1to10 .br-widget {
    height: 16px;
}

.rating_1 .br-theme-bars-1to10 .br-widget a {
    width: 10%;
    height: 16px;
    margin: 0 0 0 -1px;
}

.rating_1 .br-theme-bars-1to10 .br-widget .br-current-rating {
    display: none;
}

.rating_1 .br-theme-bars-1to10 .br-widget a.br-active,
.rating_1 .br-theme-bars-1to10 .br-widget a.br-selected {
    background-color: #FFD100;
}

.rating_1 .br-theme-bars-1to10 .br-widget a {
    background-color: #EFEFEF;
}

.rating_1 span:last-child {
    width: 37px;
    padding-left: 7px;
    display: block;
    float: left;
}

[data-type="widget_type_large"] {
    /*width: 65.9%;*/
    padding-right: 27px;
    padding-left: 20px;
    padding-bottom: 26px;
}

.w-comit_box {
    min-height: 144px;
    margin-bottom: 12px;
    padding: 18px 45px 18px 23px;
    border: 1px solid #E3E3E3;
    background-color: #FFF;
}

.commit_box_header {
    margin-bottom: 14px;
}

.img_box_yelp {
    margin-top: 11px;
}
.img_box_tripadvisor {
    margin-top: 10px;
}
.commit_box_header .img_box {
    float: left;
    margin-right: 14px;
    width: 30px;
    height: 30px;
}
.commit_box_header .img_box img{
    width: 100%;
}
.commit_auth_tripadvisor{
    margin-top: 5px;
}
.commit_auth_yelp{
    margin-top: 5px;
}
.commit_auth {
    display: block;
    float: left;
    color: #000;
    line-height: 2;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.w-comit_box .stars {
    width: 140px;
    float: left;
    margin-top: 3px;
}

.w-comit_box .date {
    font-size: 14px;
    color: #000;
    float: right;
}

.yelp .br-theme-css-stars .br-widget a {
    width: 22px;
    height: 22px;
    font-size: 20px;
    margin-top: 6px;
    background-color: #B8B8B8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*.yelp .br-theme-css-stars .br-widget a:after,*/
/*.yelp .br-theme-css-stars .br-widget a.br-selected:after{*/
    /*color: #FFF;*/
/*}*/

.yelp .br-theme-css-stars .br-widget a.br-selected {
    /*background-color: #DE1200;*/
}
.w-comit_box .br-theme-css-stars .br-widget a:after{

    display: block;
    /*margin-top: -5px;*/
    text-align: center;
}
.w-comit_box .br-theme-css-stars .br-widget a{
    width: 23px;
    height: 23px;
    /*font-size: 28px;*/
}


.w-comit_box .google,
.w-comit_box .facebook {
    margin-top: -3px;
}

.facebook .br-theme-css-stars .br-widget a.br-selected:after,
.facebook .br-theme-css-stars .br-widget a.br-active:after {
    color: #009ACF;
}

.more {
    display: inline-block;
    margin-top: 26px;
    width: 140px;
    background-color: #005EAF;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 7px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.rating_2 {

}

.w-stars{
    margin-bottom: 20px;
}

.rating_2 .img_box {
    width: 40%;
    float: left;
    height: 22px;
    margin-top: 5px;
}

.rating_2 .img_box img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.rating_2 .br-wrapper {
    width: 40%;
    float: left;
    margin-top: 6px;
}

.rating_2 .count {
    display: block;
    float: right;
    width: 40px;
    color: #2C2C2C;
    font-size: 15px;
    line-height: 1.5;
    font-style: normal;
    margin-top: 6px;

}

.rating_2 .br-widget {
    /*margin-top: -10px;*/
}

.rating_2 .br-theme-css-stars .br-widget a {
    width: 23px;
    height: 23px;
    font-size: 28px;

}

.rating_2 .yelp .br-theme-css-stars .br-widget a {
    font-size: 20px;
}

.rating_2 .yelp .br-widget {
    /*margin-top: 6px;*/
}

.rating_2 .yelp .br-theme-css-stars .br-widget a:after {
    /*margin-top: -4px;*/
    display: block;
    text-align: center;
}

.rating_2 .tripadvisor .br-wrapper {
    margin-top: 7px;
}
.w-stars .br-theme-css-stars .br-widget a:after{
    /*margin-top: -7px;*/
    display: block;
}

.tripadvisor  .br-theme-css-stars .br-widget{height: 24px;}
/*.tripadvisor .br-theme-css-stars .br-widget a:after{margin-top: -5px;}*/

.tripadvisor .br-theme-css-stars .br-widget a:after,
.tripadvisor .br-theme-css-stars .br-widget a.br-selected:after{
    color: transparent;
    background: url(/images/control-panel/statistic/star_noactive_green.png) 0% 0% no-repeat;
    background-size: 23px auto;
}

.tripadvisor .br-theme-css-stars .br-widget a.br-selected:after,
.tripadvisor .br-theme-css-stars .br-widget a.br-fractional:after {
    background: url(/images/control-panel/statistic/star_active_green.png) 0% 0% no-repeat;
    background-size: 23px auto;
}


.w-comit_box.tripadvisor .br-theme-css-stars .br-widget a:after,
.w-comit_box.tripadvisor .br-theme-css-stars .br-widget a.br-selected:after,
.w-comit_box.tripadvisor .br-theme-css-stars .br-widget a.br-active:after{
    background-position: 0% 50%;
}

.stars-example-css.tripadvisor .br-theme-css-stars .br-widget a{
    margin-top: -5px;
    background: url(/images/control-panel/statistic/star_noactive_green.png) 0 0 no-repeat;
    -webkit-background-size: 23px auto;
    background-size: 23px auto;
}


.var_2 .rating_2 .br-wrapper,
.var_2 .rating_2 .img_box{
    width: 45%;
}


.basic_stars .br-theme-css-stars .br-widget a{
    background: url(/images/control-panel/statistic/svg/google.svg) 0 0 no-repeat;
}
.basic_stars .br-theme-css-stars .br-widget a.br-selected:after{
    background: url(/images/control-panel/statistic/active_star.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.basic_stars .br-theme-css-stars .br-widget .br-fractional:after{
    background: url(/images/control-panel/statistic/active_star.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}


.yelp .br-theme-css-stars .br-widget a{
    background: url(/images/control-panel/statistic/star_noactive_red2.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.yelp .br-theme-css-stars .br-widget a.br-selected:after,
.yelp .br-theme-css-stars .br-widget .br-fractional:after{
    background: url(/images/control-panel/statistic/star_active_red2.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.google .br-theme-css-stars .br-widget a,
.better .br-theme-css-stars .br-widget a,
.pricerunner .br-theme-css-stars .br-widget a{
    background: url(/images/control-panel/statistic/noactive_star.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.google .br-theme-css-stars .br-widget a.br-selected:after,
.google .br-theme-css-stars .br-widget .br-fractional:after,
.better .br-theme-css-stars .br-widget a.br-selected:after,
.better .br-theme-css-stars .br-widget .br-fractional:after,
.pricerunner .br-theme-css-stars .br-widget a.br-selected:after,
.pricerunner .br-theme-css-stars .br-widget .br-fractional:after{
    background: url(/images/control-panel/statistic/active_star.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}


.facebook .br-theme-css-stars .br-widget a{
    background: url(/images/control-panel/statistic/noactive_star.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.facebook .br-theme-css-stars .br-widget a.br-selected:after,
.facebook .br-theme-css-stars .br-widget .br-fractional:after{
    background: url(/images/control-panel/statistic/star_active_blue.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.trip .br-theme-css-stars .br-widget a{
    background: url(/images/control-panel/statistic/star_noactive_green.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.trip .br-theme-css-stars .br-widget a.br-selected:after,
.trip .br-theme-css-stars .br-widget .br-fractional:after{
    background: url(/images/control-panel/statistic/star_active_green.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.krak .br-theme-css-stars .br-widget a{
    background: url(/images/control-panel/statistic/star_noactive_red.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.krak .br-theme-css-stars .br-widget a.br-selected:after,
.krak .br-theme-css-stars .br-widget .br-fractional:after{
    background: url(/images/control-panel/statistic/star_active_red.png) 0 0 no-repeat;

    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}


.br-theme-css-stars .br-widget a{
    text-indent: -9999px;
    color: transparent;
}
.br-theme-css-stars .br-widget a.br-selected:after,
.br-theme-css-stars .br-widget a.br-selected:after{
    display: block;
    color: transparent;
    overflow: hidden;
    -webkit-background-size: 22px auto;
    -o-background-size: 22px auto;
    background-size: 22px auto;
}

.br-theme-css-stars .br-widget [class^="br-fractional"]::after{
    display: block;
}

.br-theme-css-stars .br-widget .br-fractional-10:after{
    width: 10%;
}
.br-theme-css-stars .br-widget .br-fractional-20:after{
    width: 20%;
}
.br-theme-css-stars .br-widget .br-fractional-30:after{
    width: 30%;
}
.br-theme-css-stars .br-widget .br-fractional-40:after{
    width: 40%;
}
.br-theme-css-stars .br-widget .br-fractional-50:after{
    width: 50%;
}
.br-theme-css-stars .br-widget .br-fractional-60:after{
    width: 60%;
}
.br-theme-css-stars .br-widget .br-fractional-70:after{
    width: 70%;
}
.br-theme-css-stars .br-widget .br-fractional-80:after{
    width: 80%;
}
.br-theme-css-stars .br-widget .br-fractional-90:after{
    width: 90%;
}
.br-theme-css-stars .br-widget .br-fractional-100:after{
    width: 100%;
}


/*=====================> Paragraphs ========================*/

p {
    margin-bottom: 18px
}

.mb1 {
    margin-bottom: 1px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb3 {
    margin-bottom: 3px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb6 {
    margin-bottom: 6px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb9 {
    margin-bottom: 9px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb11 {
    margin-bottom: 11px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb13 {
    margin-bottom: 13px;
}

.mb14 {
    margin-bottom: 14px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb17 {
    margin-bottom: 17px;
}

.mb18 {
    margin-bottom: 18px;
}

.mb19 {
    margin-bottom: 19px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb21 {
    margin-bottom: 21px;
}

.mb22 {
    margin-bottom: 22px;
}

.mb23 {
    margin-bottom: 23px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb26 {
    margin-bottom: 26px;
}

.mb27 {
    margin-bottom: 27px;
}

.mb28 {
    margin-bottom: 28px;
}

.mb29 {
    margin-bottom: 29px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb31 {
    margin-bottom: 31px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb33 {
    margin-bottom: 33px;
}

.mb34 {
    margin-bottom: 34px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb37 {
    margin-bottom: 37px;
}

.mb38 {
    margin-bottom: 38px;
}

.mb39 {
    margin-bottom: 39px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb41 {
    margin-bottom: 41px;
}

.mb42 {
    margin-bottom: 42px;
}

.mb43 {
    margin-bottom: 43px;
}

.mb44 {
    margin-bottom: 44px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb46 {
    margin-bottom: 46px;
}

.mb47 {
    margin-bottom: 47px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb49 {
    margin-bottom: 49px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb51 {
    margin-bottom: 51px;
}

.mb52 {
    margin-bottom: 52px;
}

.mb53 {
    margin-bottom: 53px;
}

.mb54 {
    margin-bottom: 54px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb58 {
    margin-bottom: 58px;
}

.mb62 {
    margin-bottom: 62px;
}

.mb75 {
    margin-bottom: 75px;
}

/*=====================> Lists ========================*/
.list1 {
}

.list1 li {
    background: url(../images/marker1.png) 0 7px no-repeat;
    padding-left: 20px;
}

.list1 a {
}

.list2 {
}

.list2 li {
    background: url(../images/marker1.png) 0 7px no-repeat;
    padding-left: 20px;
}

.list2 a {
}

.list3 {
}

.list3 li {
    background: url(../images/marker1.png) 0 7px no-repeat;
    padding-left: 20px;
}

.list3 a {
}

/*=====================> Titles ========================*/
h2, h3, h4 {
    font-weight: normal;
}

.title1 {
    font-size: 35px;
    line-height:;
    color: #414149;
    font-weight: normal;
}

.title2 {
    font-size: 18px;
    line-height:;
}

.fz60 {
    font-size: 60px;
}

.fz50 {
    font-size: 50px;
}

.fz30 {
    font-size: 30px;
}

[data-color="red"] {
    color: #D60000;
}

[data-color="black1"] {
    color: #282828;
}

[data-color="white"] {
    color: #FFF;
}

[data-color="grey_light"] {
    color: #CDCDCD;
}

/*================================>> FONTS  <<========================================*/

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('font/ProximaNova-Regular.eot');
    src: url('font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('font/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.proxi_bold {
    font-weight: 600;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

/*================================>> hovers <<========================================*/
a {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

a:hover {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/*================================>> Contact Form <<========================================*/
#contact-form {
    padding: 0px 0 0 0;
    position: relative;
}

#contact-form .success {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
}

.txt_field {
    margin: 0;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    color: #969696;
    padding: 7px 10px;
    outline: none;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msg_field {
    overflow: auto;
    width: 433px;
    height: 172px;
    resize: none;
    float: left;
    margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {
    display: none;
}

#contact-form .error, #contact-form .empty {
    text-align: left;
    color: red;
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 5px;
}

#contact-form .buttons2 {
    overflow: hidden;
    text-align: right;
    position: relative;
    clear: both;
    padding-top: 25px;
}

#contact-form .buttons2 a {
    cursor: pointer;
    margin-top: 0;
    text-align: center;
}

#contact-form span {
    display: block;
    margin: 0px 0 0 5px;
}

.map_wrapper {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 26px;
}

/*================================>> Contacts Info <<========================================*/
#map_canvas {
    width: 411px;
    height: 237px;
}

.adress {
}

.adress span {
    display: inline-block;
}

.adress dt {
    margin-bottom: 14px;
}

/*================================>> Footer <<========================================*/
footer {
    padding: 22px 0 26px;
}

.social {
    overflow: hidden;
}

.social a {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-left: 8px;
}

.social a:first-child {
    margin: 0 0 0 0;
}

.social a:hover img {
    margin-top: -32px;
}

/*============================= Easy responsive tabs ============================*/

.resp-tabs-list li {

}

h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-tab-content-active {
    display: block;
}

@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-accordion-closed {
        display: none !important;
    }

}

