html
	head
	link(rel="stylesheet",type="text/css",href="/includes/OwlCarousel2-2.2.1/dist/assets/owl.carousel.css")
	link(rel="stylesheet",type="text/css",href="/css/bundle.css")
	script(type="text/javascript",src="/includes/jquery-3.2.1.js")
	script(type="text/javascript",src="/includes/OwlCarousel2-2.2.1/dist/owl.carousel.js")
	body
		div#page
			section#header
				header#topBar
					div.container
						div#topPanel
							div.logoSection
								object#headerLogo(data="/pic/svg/header-logo.svg",type="image/svg+xml")
							div.navSection
								a.btn.btn-alt.btn-md(href="#")
									| Login
								a.btn.btn-md(href="#")
									| Vor virksomheder
				div#pageTitleSection
					div.container
						div.row
							div.col-xs-12
								div#pageTitleContent
									div.someReviews
										div.someReview(style="top: 50px;right: 100%;margin-right:-70px;")
											div.reviewLogo
												img(src="/pic/company-logos-ico/krak.png")
											div.reviewRating
												object(data="/pic/stars/krak-star-solid.svg",type="image/svg+xml")
											div.reviewText
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.
										div.someReview.someReview-sm(style="top: 90px;left: 100%;margin-left: -150px;")
											div.reviewLogo
												img(src="/pic/company-logos-ico/facebook.png")
											div.reviewRating
												object(data="/pic/stars/facebook-star-solid.svg",type="image/svg+xml")
											div.reviewText
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										div.someReview(style="top: 100%;left: 100%;margin-top: 60px;margin-left:65px;")
											div.reviewLogo
												img(src="/pic/company-logos-ico/tripAdvisor.png")
											div.reviewRating
												object(data="/pic/stars/tripadvisor-star-solid.svg",type="image/svg+xml")
											div.reviewText
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.
									h1#pageTitle 
										| Danmarks førende lokale søgemaskine
									h2#pageSubtitle
										| Søg, find og bedøm alle 750.000+ danske virksomheder
									form#searchForm(action="/search")
										fieldset
											label(for="searchForm__name")
												| Søg
											input(id="searchForm__name",type="text",name="person",placeholder="fx efter tømrer, tandlæger, advokat",size="45")
										fieldset
											label(for="searchForm__address")
												| Nær
											input(id="searchForm__address",type="text",name="address",placeholder="by, adresse, post nr.",size="45")
										fieldset.submit
											span#searchSubmitWrapper
												input#searchSubmit(type="submit",value="")
			section.reviewsSlider
				div.container-fluid
					div.reviewsSliderHolder
						div.reviewsSlider__state
							div.reviewsSlider__stateImages
								img(src="/pic/reviewsSlider__state_yelp.png",alt="")
								img(src="/pic/reviewsSlider__state_krak.png",alt="")
								img(src="/pic/reviewsSlider__state_facebook.png",alt="")
								img(src="/pic/reviewsSlider__state_tripadvisor.png",alt="")
								img(src="/pic/reviewsSlider__state_trustpilot.png",alt="")
							img.reviewsSlider__stateImg(src="/pic/reviewsSlider__state_facebook.png",alt="")
						div.reviewsSlider__reviewsHolder
							div.reviewsSlider__reviewsOffset
								div.reviews.owl-carousel
									div.reviewCol
										div.review.yelpReview(data-social-type="yelp")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/yelp.png")
													div.reviewRating
														object(data="/pic/stars/yelp-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.krakReview(data-social-type="krak")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/krak.png")
													div.reviewRating
														object(data="/pic/stars/krak-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.facebookReview(data-social-type="facebook")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/facebook.png")
													div.reviewRating
														object(data="/pic/stars/facebook-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.tripadvisorReview(data-social-type="tripadvisor")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/tripAdvisor.png")
													div.reviewRating
														object(data="/pic/stars/tripadvisor-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.trustpilotReview(data-social-type="trustpilot")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/trustpilot.png")
													div.reviewRating
														object(data="/pic/stars/trustpilot-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
			div#pageContent
				div.container
					div.row
						div.col-xs-12
							h3.a-center
								| Mest søgte kategorier
							<br />
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 1.png")
									a(href="#")
										| Maler
								li
									img.categoryIcon(src="/pic/category_icons/Layer 2.png")
									a(href="#")
										| Bilforhandler
								li
									img.categoryIcon(src="/pic/category_icons/Layer 3.png")
									a(href="#")
										| Murer
								li
									img.categoryIcon(src="/pic/category_icons/Layer 4.png")
									a(href="#")
										| Tømrer
								li
									img.categoryIcon(src="/pic/category_icons/Layer 5.png")
									a(href="#")
										| VVS
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 6.png")
									a(href="#")
										| Elektriker
								li
									img.categoryIcon(src="/pic/category_icons/Layer 7.png")
									a(href="#")
										| Køreskole
								li
									img.categoryIcon(src="/pic/category_icons/Layer 8.png")
									a(href="#")
										| Restauranter
								li
									img.categoryIcon(src="/pic/category_icons/Layer 9.png")
									a(href="#")
										| Pizzeriaer
								li
									img.categoryIcon(src="/pic/category_icons/Layer 10.png")
									a(href="#")
										| Advokater
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 11.png")
									a(href="#")
										| Autoværksteder
								li
									img.categoryIcon(src="/pic/category_icons/Layer 12.png")
									a(href="#")
										| Bedemand
								li
									img.categoryIcon(src="/pic/category_icons/Layer 13.png")
									a(href="#")
										| Ejendomsmæglere
								li
									img.categoryIcon(src="/pic/category_icons/Layer 14.png")
									a(href="#")
										| Flyttefirma
								li
									img.categoryIcon(src="/pic/category_icons/Layer 15.png")
									a(href="#")
										| Frisører
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 16.png")
									a(href="#")
										| Gartnere
								li
									img.categoryIcon(src="/pic/category_icons/Layer 17.png")
									a(href="#")
										| Fysioterapeut
								li
									img.categoryIcon(src="/pic/category_icons/Layer 18.png")
									a(href="#")
										| Rengøring
								li
									img.categoryIcon(src="/pic/category_icons/Layer 19.png")
									a(href="#")
										| Tandlæge
								li
									img.categoryIcon(src="/pic/category_icons/Layer 20.png")
									a(href="#")
										| Vinduespolering
					<br />
					<br />
					<br />
					<br />
					<br />
					div.row
						div.col-xs-12
							h2.a-center
								| Hvad er better?
							p.a-center
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis accumsan mauris, sed suscipit orci. Etiam in magna vel justo finibus gravida et nec lacus. Maecenas malesuada pellentesque fringilla. Cras pulvinar ut purus non sodales. Suspendisse gravida sit amet massa eu pellentesque. Nulla sagittis magna non eros elementum, nec euismod velit tempus. Donec at rutrum magna, sed fringilla velit. Praesent non egestas ante, at pharetra neque. In dictum tincidunt massa porta laoreet. Donec vel laoreet turpis. Duis laoreet lacus id enim auctor auctor. Phasellus lobortis ante ut vulputate pellentesque. Sed auctor nisl dolor. Nunc facilisis mauris vitae porta volutpat.
					<br />
					<br />
			div#pageFooter
				div.container
					div.row
						div.col-xs-12.col-sm-6.col-lg-4
							div.widget
								h4.widgetTitle
									span#footerLogo
										img(src="/pic/footer-logo.png")
										span
											| Better
								div.widgetContent
									p
										| Vi scanner nettet for bedømmelser<br />
										org	samler dem et sted sted, sa det er<br />
										nemt at	finde den bedste virksomhed for dig.
									div.social-links
										a.social.fa.fa-facebook(href="#")
										a.social.fa.fa-twitter(href="#")
										a.social.fa.fa-linkedin(href="#")
						div.col-xs-12.col-sm-6.col-lg-3
							div.widget
								h4.widgetTitle
									| Om Better
								div.widgetContent
									ul
										li
											a(href="#")
												| Hvad er Better
										li
											a(href="#")
												| Support
										li
											a(href="#")
												| Presse
						div.col-xs-12.col-sm-6.col-lg-3
							div.widget
								h4.widgetTitle
									| For Virksomheder
								div.widgetContent
									ul
										li
											a(href="#")
												| Hvad er Better Business?
										li
											a(href="#")
												| Tilføj virksomhed
										li
											a(href="#")
												| Blog
										li
											a(href="#")
												| Partnerskab
										li
											a(href="#")
												| API
						div.col-xs-12.col-sm-6.col-lg-2
							div.widget
								h4.widgetTitle
									| Vigtige links
								div.widgetContent
									ul
										li
											a(href="#")
												| Login
										li
											a(href="#")
												| Opret bruger
										li
											a(href="#")
												| Kontakt os



		script(type="text/javascript",src="/js/bundle.js")

