<?xml version="1.0" ?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>custom</short-name>

    <tag>
        <name>domainNameUri</name>
        <tag-class>dk.better.application.tag.DomainNameUri</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>includePort</name>
            <required>false</required>
            <type>java.lang.Boolean</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>staticResourceLink</name>
        <tag-class>dk.better.application.tag.StaticResourceLink</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>relativePath</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>lineToBreakLine</name>
        <tag-class>dk.better.application.tag.NewLineToBreakLine</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>value</name>
            <required>true</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>principalFullName</name>
        <tag-class>dk.better.application.tag.PrincipalFullName</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>var</name>
            <required>false</required>
            <type>java.lang.String</type>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <function>
        <name>slug</name>
        <function-class>dk.better.application.util.GeneralUtils</function-class>
        <function-signature>java.lang.String getSlug(java.lang.String)</function-signature>
    </function>

    <function>
        <name>abs</name>
        <function-class>java.lang.Math</function-class>
        <function-signature>int abs(int)</function-signature>
    </function>

    <function>
        <name>contains</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>boolean contains(java.util.Collection, java.lang.Object)</function-signature>
    </function>

    <function>
        <name>replaceAll</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String replaceAll(java.lang.String, java.lang.String, java.lang.String)
        </function-signature>
    </function>

    <function>
        <name>isCompanyOwner</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>boolean isCompanyOwner(int)</function-signature>
    </function>

    <function>
        <name>isAdmin</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>boolean isAdmin()</function-signature>
    </function>

    <function>
        <name>urlEncode</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String urlEncode(java.lang.String)</function-signature>
    </function>

    <function>
        <name>encodeURIComponent</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String encodeURIComponent(java.lang.String)</function-signature>
    </function>

    <function>
        <name>decodeURIComponent</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String decodeURIComponent(java.lang.String)</function-signature>
    </function>

    <function>
        <name>matches</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>boolean matches(java.lang.String,java.lang.CharSequence)</function-signature>
    </function>

    <function>
        <name>prettytime</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String prettyTime(java.util.Date)</function-signature>
    </function>

    <function>
        <name>formatCompanyRating</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String formatCompanyRating(java.lang.Double)</function-signature>
    </function>

    <function>
        <name>fullName</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String getFullName(java.lang.String,java.lang.String,java.lang.String)
        </function-signature>
    </function>

    <function>
        <name>productName</name>
        <function-class>dk.better.application.util.ViewUtils</function-class>
        <function-signature>java.lang.String getProductName(int)</function-signature>
    </function>
</taglib>