{{#js}}
<script src="{{js}}"></script>
{{/js}}

{{#stylesheet}}
<link rel="stylesheet" type="text/css" href="{{stylesheet}}"/>
{{/stylesheet}}

<div class="opening-hours">
    {{#data.days}}
    <div class="row">
        <div class="day col-xs-12">
            <div class="name col-xs-2">{{name}}</div>
            <div class="hours col-xs-3">
                {{#start}}
                {{start}} - {{end}}
                {{/start}}

                {{^start}}
                Lukket
                {{/start}}
            </div>
        </div>
    </div>
    {{/data.days}}
</div>