{{#js}}
<script src="{{js}}"></script>
{{/js}}

{{#stylesheet}}
<link rel="stylesheet" type="text/css" href="{{stylesheet}}"/>
{{/stylesheet}}

<div class="menu">
    {{#data.sections}}
    <div class="section">
        <div class="item flex flex-row align-center">
            <div class="text">
                <div class="name bold">{{name}}</div>
                <div class="description"></div>
            </div>

            <div class="price bold"></div>

            <div class="action">
                {{#items.0}}
                <a href="{{items.0.link}}" class="order btn btn-cta">Bestil</a>
                {{/items.0}}
            </div>

            <div class="clear"></div>
        </div>
    </div>
    {{/data.sections}}
</div>