.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	box-sizing: border-box;
}

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]{
	padding: 0;	
}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button{
	padding: 0;
}

.preloadImg{
	display: none;
}

body{
	font-family: Arial;
	font-weight: 400;
	color: #2f2f2f;
	font-size: 15px;
	line-height: 24px;
	overflow-x: hidden;
}

h1,h2,h3{
	line-height: 1.2;
}
h4,h5,h6{
	line-height: inherit;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
	font-weight: 700;
}
h5{
	font-size: 16px;
	font-weight: 700;
}
h6{
	font-size: 12px;
	font-weight: 700;	
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 10px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
	margin-bottom: auto;
}
p{
	margin-bottom: 10px;
}
p:last-child{
	margin-bottom: auto;
}

a{
	color: #65ade4;
	text-decoration: none;
}
a:hover{
	color: inherit;
}

ul li{
	position: relative;
	padding-left: 20px;
}
ul li:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 8px;
	margin-left: -20px;
	background-image: url(../images/circle.png);
	background-size: 4px;
	background-position: center center;
	background-repeat: no-repeat;
}

.row + .row{
	margin-top: 60px;
}

.a-center{
	text-align: center;
}
.bold{
	font-weight: 700;
}

#pageContent{
	padding: 60px 0;
}

#header{
	position: relative;
}
#headerBgImgHolder{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#headerBgImg{
	min-width: 100%;
	min-height: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	pointer-events: none;
}
#pageTitleSection{
	padding-top: 150px;
	padding-bottom: 320px;
}
#pageTitleContent{
	position: relative;
	color: #fff;
	text-align: center;
}
#pageTitle{
	font-size: 36px;
}
#pageSubtitle{
	font: inherit;
}
#pageTitle,
#pageSubtitle{
	margin-bottom: auto;
}
* + #searchForm{
	margin-top: 80px;
}
#searchForm{
	background-color: #fff;
	border-radius: 7px;
	color: #8a8a8a;
}
#searchForm{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 2px;
}
#searchForm fieldset:after{
	content: "";
	display: block;
	clear: both;
}
#searchForm input,
#searchForm label{
	line-height: 44px;
	float: left;
}
#searchForm label{
	font-weight: 700;
	padding: 0 15px;
}
#searchForm input{
	border-style: none;
	color: inherit;
	height: 44px;
}
#searchForm input:focus{
	-webkit-tap-highlight-color: transparent;
	box-shadow: none;
	outline: none;
}
#searchForm fieldset{
	position: relative;
}
#searchForm fieldset + fieldset:not(.submit){
	padding-left: 2px;
}
#searchForm fieldset + fieldset:not(.submit):before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: #cbc6c2;
	border-radius: 2px;
}
#searchSubmitWrapper{
	display: block;
	color: #fff;
	border-radius: 7px;
	width: 46px;
	background-color: #0b56a9;
	line-height: 43px;
	font-size: 18px;
	margin: -1px;
    box-shadow: 0 3px #113e83;
}
#searchSubmitWrapper::before{
	font-family: 'FontAwesome';
	content: "\f002";
	display: inline-block;
	vertical-align: middle;
}
#searchSubmitWrapper:hover{
	background-color: #113e83;	
}
#searchSubmit{
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2px;
	box-sizing: content-box;
	margin: -2px;
	border-radius: 7px;
	opacity: 0;
	cursor: pointer;
}

.reviewsSliderHolder{
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
}
.reviewsSlider__reviewsHolder{
	position: relative;
	overflow: hidden;
	padding-top: 48px;
}
.reviewsSlider .owl-carousel .owl-stage-outer{
	overflow: visible;
}
.reviewsSlider__reviewsOffset{
	margin-left: -12.5%;
	margin-right: -12.5%;	
}
.reviewsSlider .review{
	font-size: 14px;
	line-height: 21px;
	padding: 10px 15px;
	border: 1px solid #ebebeb;
	border-radius: 7px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.reviewsSlider .review > * + *{
	margin-top: 5px;
}
.reviewsSlider .review > * > * + *{
	margin-top: 5px;
}
.reviewsSlider .review > .reviewHeader + *{
	margin-top: 10px;
}
.reviewsSlider .reviewHeader{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;	
}
.reviewsSlider .reviewHeader + .reviewContent{
	margin-top: 10px;
}
.reviewsSlider .sourceLogo>*{
	height: 20px;
	width: auto;
}
.reviewsSlider .trustpilotReview .sourceLogo>*{
	height: 12px;
}
.reviewsSlider .owl-carousel .owl-item .sourceLogo>*{
	width: auto;
}
.reviewsSlider .owl-carousel .owl-item .reviewRating>*{
	width: auto;
}
.reviewsSlider .reviewText,
.reviewsSlider .reviewCompany{
	color: #797979;
}
.reviewsSlider .reviewDate{
	color: #aaaaaa;
}
.reviewsSlider .reviewTitle,
.reviewsSlider .reviewAuthor{
	font-size: 21px;
	margin-bottom: auto;
}
.reviewsSlider__state{
	position: relative;
	z-index: 2;
}
.reviewsSlider__stateShapeHolder{
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: auto;
	padding: 0 15px;
	box-sizing: border-box;
}
.reviewsSlider__stateShapeWrapper{
	position: relative;
	max-width: 600px;
	margin: auto;
}
.reviewsSlider__stateShape{
	position: relative;
	padding-bottom: 50%;
	overflow: hidden;
}
.reviewsSlider__stateShape:before,
.reviewsSlider__stateShape:after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%,-42%);
	-ms-transform: translate(-50%,-42%);
	transform: translate(-50%,-42%);
	width: 100%;
	height: 200%;
	border-radius: 50%;
}
.reviewsSlider__stateShape:before{
	background-color: rgba(255,255,255,0.30);
}
.reviewsSlider__stateShape:after{
	width: 90%;
	height: 180%;
	background-color: #fff;
}
.reviewsSlider__stateImg{
	width: 100%;
}
.reviewsSlider__bridge{
	position: absolute;
	top: 100%;
	left: 50%;
	display: block;
	width: 12%;
	height: 24%;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 12px rgba(0,0,0,0.25);
	margin-top: -4%;
}
.reviewsSlider__bridgePic{
	width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.reviewsSlider__stateVariant{
	position: absolute;
	width: 16%;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	/*background-color: #000;	*/
}
/*.reviewsSlider__stateVariant:after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 100%;
	width: 100%;
	height: 10px;
	background-image: radial-gradient(circle closest-side, #c0c0c0 2px, transparent 3px);
	background-size: 8px 8px;
	background-repeat: repeat-x;
	background-position: center left;
}*/
/*.reviewsSlider__stateVariant.active:after{
	background-image: radial-gradient(circle closest-side, #2c61bb 2px, transparent 3px);
}
.reviewsSlider__stateVariant:after{
	transition: background-image 0.3s ease;
}*/
.circles{
	position: absolute;
	top: 100%;
	left: 100%;
	width: 100%;
	height: 10px;
	display: block;
	overflow: hidden;
}
.circles:after{
	display: block;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 0;
	font-family: "FontAwesome";
	font-size: 6px;
	line-height: 1;
	letter-spacing: 3px;
	content: "\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111\f111";
	color: #c0c0c0;
	transform: translate3d(-50%,-50%,0);
    transition: color 0.6s ease;
}
@keyframes runningCircles {
    from {
    	transform: translate3d(-50%,-50%,0);
    }
    to {
    	transform: translate3d(0,-50%,0);
    }
}
@keyframes runningCircles_reverse {
    from {
    	transform: translate3d(0,-50%,0);
    }
    to {
    	transform: translate3d(-50%,-50%,0);
    }
}
.circles.running:after{
    animation-name: runningCircles;
    animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.circles.running_reverse:after{
    animation-name: runningCircles_reverse;
    animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	
}
.reviewsSlider__stateVariant.active .circles:after{
	color: #2c61bb;
}
.reviewsSlider__stateVariant:nth-child(1){
	width: 13%;
	top: 88%;
	left: 19%;
}
.reviewsSlider__stateVariant:nth-child(1) .circles{
	width: 126%;
	top: 50%;
	left: 108%;
	transform: rotate(6deg);
}
.reviewsSlider__stateVariant:nth-child(2){
	width: 16%;
	top: 70%;
	left: 24%;
}
.reviewsSlider__stateVariant:nth-child(2) .circles{
	width: 84%;
	top: 240%;
	left: 97%;
	transform: rotate(28deg);
}
.reviewsSlider__stateVariant:nth-child(3){
	width: 13%;
	top: 52%;
	left: 32%;
}
.reviewsSlider__stateVariant:nth-child(3) .circles{
	top: 218%;
	left: 76%;
	width: 105%;
	transform: rotate(58deg);
}
.reviewsSlider__stateVariant:nth-child(4){
	width: 20%;
	top: 38%;
	left: 50%;
}
.reviewsSlider__stateVariant:nth-child(4) .circles{
	top: 386%;
	left: 4%;
	width: 90%;
	transform: rotate(90deg);
}
.reviewsSlider__stateVariant:nth-child(5){
	width: 12%;
	top: 50%;
	left: 68%;
}
.reviewsSlider__stateVariant:nth-child(5) .circles{
	top: 198%;
	left: -92%;
	width: 115%;
	transform: rotate(-58deg);
}
.reviewsSlider__stateVariant:nth-child(6){
	top: 68%;
	left: 77%;
}
.reviewsSlider__stateVariant:nth-child(6) .circles{
    width: 90%;
    top: 200%;
    left: -86%;
    transform: rotate(-28deg);
}
.reviewsSlider__stateVariant:nth-child(7){
	width: 19%;
	top: 88%;
	left: 81%;
}
.reviewsSlider__stateVariant:nth-child(7) .circles{
	width: 73.8889%;
	top: 48%;
	left: -75%;
	transform: rotate(-6deg);
}
.reviewsSlider__bridge .circles{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 32px;
    height: 10px;
    margin-top: 2px;
    margin-left: 5px;
    transform: rotate(90deg);
    transform-origin: top left;
    animation-duration: 4s;	/* because of width is smaller */
}
.reviewsSlider__bridge.active .circles:after{
	color: #2c61bb;
}
.reviewsSlider .reviewRating{
	position: relative;
}
.reviewsSlider .reviewRating{
	-ms-flex: 0 1 130px;
}
.reviewsSlider .reviewRating__stars{
	display: block;
}
.reviewsSlider .reviewRating__stars > *{
	display: block;
	height: 22px;
	width: auto;
}
.reviewsSlider .owl-carousel .reviewRating__stars img{
	width: 130px;
}
.reviewsSlider .reviewRating__stars_active{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.reviewsSlider__reviewsHolder{
	position: relative;
	z-index: 1;
	padding-top: 48px;
}

#pageFooter{
	padding: 80px 0;
	color: #fff;
	background-image: linear-gradient(141deg, #2f7acd 0%, #2f7acd 25%, #05448b 100%);
	line-height: 21px;
}
#pageFooter .widgetTitle{
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 18px;
}
#pageFooter a{
	color: inherit;
}
#pageFooter a:hover{
	opacity: 0.75;
}
#pageFooter .widget{
	margin-top: 30px;
}
#pageFooter .container{
	margin-top: -30px;
}

.social-links{
	margin-left: -8px;
}
.social{
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	font-size: 15px;
	line-height: 24px;
	width: 24px; 
	border-radius: 50%;
	text-align: center;
	margin-left: 8px;
}
.social.fa{
	line-height: 24px;
}

#pageFooter ul li{
	padding-left: 0;
}
#pageFooter ul li:before{
	display: none;
}
#pageFooter ul li li{
	padding-left: 20px;
}
#footerlogo{
	display: table;
}
#footerlogo > *{
	display: table-cell;
	vertical-align: bottom;
}
#footerlogo > img{
	height: 32px;
}
#footerlogo > span{
	padding-left: 15px;
}

ul.categories li{
	padding-left: 0;
}
ul.categories li:before{
	display: none;
}
ul.categories li li{
	padding-left: 20px;
}
ul.categories a{
	color: inherit;
	font-weight: 400;
}
ul.categories a:hover{
	color: #65ade4;
}
ul.categories .categoryIcon{
	width: 36px;
	height: auto;
	margin-right: 8px;
}
ul.categories li > *{
	display: inline-block;
	vertical-align: bottom;
}

#topBar{
	position: relative;
	padding: 5px 0;
	background-color: rgba(255,255,255,0.95);
}
#topPanel{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;	
}
#headerLogo{
	height: 49px;
	width: auto;
}
#topPanel .btn + .btn{
	margin-left: 10px;
}

.btn{
	display: inline-block;
	padding: 5px 15px;
	background-color: #0b56a9;
    box-shadow: 0 3px #113e83;
    border-radius: 4px;
    margin-bottom: 3px;
    color: #fff;
}
.btn:hover{
	background-color: #113e83;
	color: #fff;
}
.btn-alt{
	background-color: #30b001;
	box-shadow: 0 3px #259501;
}
.btn-alt:hover{
	background-color: #259501;	
}

.someReview{
	position: absolute;
	background-color: rgba(255,255,255,0.95);
	color: #2f2f2f;
	width: 180px;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 20px 15px;
	border-radius: 6px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.someReview:after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	right: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px;
	border-color: transparent;
	border-top-color: rgba(255,255,255,0.95);
}
.someReview .reviewLogo img{
	height: 20px;
	width: auto;
}
.someReview.someReview-sm{
	width: 140px;
	padding: 5px 15px 10px;
	font-size: 13px;
	line-height: 16px;
}
.someReview .reviewRating > img{
	height: 18px;
}
.someReview * + *{
	margin-top: 5px;
}


@media screen and (max-width: 991px){
	#searchForm__name,
	#searchForm__address{
		width: 240px;
	}
}
@media screen and (max-width: 1780px){
	#header .someReviews .someReview:nth-child(1){
		margin-right: -150px !important;
	}
	#header .someReviews .someReview:nth-child(2){
		margin-left: -180px !important;
	}
	#header .someReviews .someReview:nth-child(3){
		margin-top: 150px !important;
		margin-left: -70px !important;
	}
}
@media screen and (max-width: 1500px){
	#header .someReviews .someReview:nth-child(1){
		margin-right: -220px !important;
	}
	#header .someReviews .someReview:nth-child(3){
		margin-top: 210px !important;
		margin-left: -260px !important;
	}
}
@media screen and (max-width: 1200px){
	#header .someReviews{
		display: none;
	}
}
@media screen and (max-width: 600px){
	.reviewsSlider__reviewsOffset{
		margin-left: 15px;
		margin-right: 15px;
	}
}