.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace.pace-inactive .pace-progress {
    visibility: hidden;
    opacity: 0;
}

.pace .pace-progress {
    position: fixed;
    opacity: 1;
    z-index: 22000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 5rem;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    transition: 1s;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    visibility: visible;
}

.pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 0;
    content: attr(data-progress-text);
    font-family: "NimbusSanLBold";
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 700px;
    line-height: 800px;
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
}

.sitereview.facebook {
    background-color: #fff;
}

.sitereview.facebook .logo {
    background: #fff url(/images/review_site_logo/facebook.png) center no-repeat;
}

.sitereview.better_dk {
    background-color: #fff;
}

.sitereview.better_dk .logo {
    background: #fff url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logo.png) center no-repeat;
}

.sitereview.google {
    background-color: #fff;
}

.sitereview.google .logo {
    background: #fff url(/images/review_site_logo/google.png) center no-repeat;
}

.sitereview.yelp {
    background-color: #fff;
}

.sitereview.yelp .logo {
    background: #fff url(/images/review_site_logo/yelp.png) center no-repeat;
}

.sitereview.zomato {
    background-color: #fff;
}

.sitereview.zomato .logo {
    background: #fff url(/images/review_site_logo/zomato.png) center no-repeat;
}

.sitereview.tripadvisor {
    background-color: #fff;
}

.sitereview.tripadvisor .logo {
    background: #fff url(/images/review_site_logo/tripadvisor.png) center no-repeat;
}

.sitereview.instagram {
    background-color: #fff;
}

.sitereview.instagram .logo {
    background: #fff url(/images/review_site_logo/instagram.png) center no-repeat;
}

.sitereview.yellow_pages {
    background-color: #fff;
}

.sitereview.yellow_pages .logo {
    background: #fff url(/images/review_site_logo/yellow_pages.png) center no-repeat;
}

.sitereview.undefined {
    background-color: #fff;
}

.sitereview.undefined .logo {
    background: #fff url(/images/review_site_logo/undefined.png) center no-repeat;
}

.sitereview.trustpilot {
    background-color: #fff;
}

.sitereview.trustpilot .logo {
    background: #fff url(/images/review_site_logo/trustpilot.png) center no-repeat;
}
