body {
    padding: 0;
    margin: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #f8f8f8;
}

header {
    background-color: #56bde2;
    padding: 15px 0;
    color: #fff;
    text-align: center;
}

header h1 {
    width: 100%;
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    color: #fff;
}

#create-review-wrapper {
    padding: 15px;
}

#review-stars-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

#review-stars-wrapper .star:before {
    font-size: 30px !important;
}

#review-stars-wrapper span {
    display: block;
}

#choose-rating-title {
    font-size: 16px;
}

.rating-description {
    font-size: 14px;
    margin-top: 5px;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px 10px 20px;
    margin: 0 0 24px 0;
    background-color: #FFFFFF;
}

fieldset p {
    font-size: 14px;
}

legend {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 0 10px;
    width: auto;
    border-bottom: none;
    margin-bottom: 5px;
}

.facebook-login .fb-login {
    float: left;
    background-color: #3F5F94;
    border: 0;
    color: #fff;
    border-radius: 4px;
    margin: 0 2% 15px 0;
    width: 48%;
    height: 40px;
    font-size: 14px;
}

#review-email-button {
    float: left;
    background-color: #b4b4b4;
    color: #FFFFFF;
    width: 48%;
    height: 40px;
    font-size: 14px;
    margin-left: 2%;
}

#logged-in-wrapper .thumbnail {
    float: left;
}

#logged-in-wrapper .thumbnail img {
    width: 40px;
    height: 40px;
}

#logged-in-wrapper .name {
    float: left;
    padding: 10px;
}

#submit-review {
    background-color: #18b522;
    width: 100%;
    color: #FFFFFF;
    height: 40px;
}

#review-success {
    display: none;
    padding: 15px;
    text-align: center;
}