#create-user-form label {
    font-family: 'Roboto-Bold';
    text-align: left;
}

#create-user-form input.form-control {
    height: 40px;
    width: 295px;
}

#create-user-success-wrapper {
    height: 400px;
    padding-top: 115px;
    display: none;
}

#create-user-success-wrapper h1 {
    margin-bottom: 5px;
    font-weight: bold;
}